@media (max-width: 1200px) {
  .play {
    font-size: 45px;
  }
  .suggested-imgholder  {
    height: 180px;
    margin: 0 auto;
  }
  .suggested-slider {
    .flexslider {
      width: 75%;
      margin: 0 auto;
    }
    .flexslider:hover .flex-direction-nav .flex-prev,
    .flex-direction-nav a.flex-prev { left: 0; }
    .flexslider:hover .flex-direction-nav .flex-next,
    .flex-direction-nav a.flex-next { right: 0; }
  }
  // sorry-page
  .sorry, .thankyou {
    padding: 16% 0;
  }
  // productdetail
  .grid-view .col-xs-6:nth-last-child(-n+2) .view-product { border: none; }

  // celebrity page
  .celebrity-imgholder {
    height: 350px;
  }
  .shop-name { font-size: 18px; }
  .celebrity-name { font-size: 16px; }
  .celebrity-heart { margin: 5px 50px 0px 0px; }
  .celebrity-holder .designer-name { font-size: 16px; }
  .celebrity-price { font-size: 20px; }
}
@media (max-width: $screen-sm-max) {
  .how-it-works {
    min-height: 250px;
  }
  .play {
    font-size: 30px;
    img {
      width: 45px;
    }
  }
  .customerspeak-slider {
    .client-speak {
      width: 80%;
    }
    .flexslider:hover .flex-direction-nav .flex-prev {
      left: 0;
    }
    .flexslider:hover .flex-direction-nav .flex-next {
      right: 0;
    }
    .flex-direction-nav a.flex-prev {
      left: 0;
    }
    .flex-direction-nav a.flex-next {
      right: 0;
    }
  }
  // footer
  .home-footer {
    .follow {
      margin: 0;
    }
    .question {
      margin: 30px 0;
    }
  }
  .question {
    span {
      margin: 0 20px 0 0;
      display: inline-block;
    }
  }
  .profile-main {
    margin-top: 50px;
  }
  .order-summary { padding: 0px 10px; }
  // product
  .product-holder {
    border: none;
    margin-top: 30px;
  }
  // product-detail
  .productdetail-slider {
    margin: 50px 0;
  }
  .product-descp {
    margin: 0;
    .name-section { text-align: center; }
    .product-price {
      padding: 30px 0;
      text-align: center;
    }
  }
  .view-product {
    border-bottom: 1px solid $brand-dark-pink;
  }
  .search-product {
    position: static;
    input {
      width: 93%;
      border-bottom: 1px solid $brand-dark-pink;
      border-left: 1px solid $brand-dark-pink;
    }
  }
  .add-billing-add { padding: 30px 0 0; }
  .billingsave-add { padding: 30px 0px 0px; }
  // product -detail
  .product-info {
    padding: 50px 0 30px;
  }
  .suggested-slider {
    .flexslider {
      width: 95%;
    }
    .flexslider:hover .flex-direction-nav .flex-next,
    .flex-direction-nav a.flex-next { right: -10px; }
    .flexslider:hover .flex-direction-nav .flex-prev,
    .flex-direction-nav a.flex-prev { left: -10px; }
  }
  // cart
  .cart-imgholder { margin-bottom: 20px; }
  .prd-name {
    text-align: center;
  }
  .prd-name + h5 { text-align: center; }
  // wishlist
  // .wishlisted-product .col-md-4:nth-child(2n+1) .wishlist-product:after {
  //   content: '';
  //   @include size(1px, 90%);
  //   @include position(absolute, 30px 0 null null);
  //   background-color: $brand-dark-pink;
  // }
  // .wishlisted-product .col-md-4:nth-child(3n-1) .wishlist-product {
  //   border-right: none;
  //   border-left: none;
  // }
  // sorry-page
  .sorry, .thankyou {
    padding: 20% 0;
  }
  // bank detail account
  .bankdetail-main { margin: 50px 0px 0; }
  .account-change-pswd { margin: 50px 0px 0; }
  // celebrity-choice
  .celebrity-imgholder {
    .choice {
      right: 55px;
    }
  }
}



@media (max-width: $screen-xs-max) {

  .on-edit {
      button {
        // margin: 0 -6px 10px 0;
        /* display: block; */
        padding: 6px 28px;
      }
      .added-cart{
        // padding: 8px 65px;
      }
  }
  .social-btn{
    width: 100%;
    /* padding: 12px 0; */
    margin: 10px 0;
    font-size: 15px;
  }
  .tag-name{
      position: absolute;
      bottom: 13%;
      left: 24%;
      background-image: -webkit-linear-gradient(left, transparent 0, #de785f 26%, #de785f 22%, #de785f 73%, transparent 100%);
      background-image: linear-gradient(to right, transparent 0, #de785f 26%, #de785f 22%, #de785f 73%, transparent 100%);
      z-index: 0;
      width: 51%;
      height: 33px;
      text-align: center;
    label{
      color: #fff;
      font-size: 16px;
      padding: 7px 0 0 0;
      font-family: 'fine-style';
      font-weight: 500;
    }
  }
  .tag-name1{
      position: absolute;
      bottom: 13%;
      left: 24%;
      background-image: -webkit-linear-gradient(left, transparent 0, #de785f 26%, #de785f 22%, #de785f 73%, transparent 100%);
      background-image: linear-gradient(to right, transparent 0, #de785f 26%, #de785f 22%, #de785f 73%, transparent 100%);
      z-index: 0;
      width: 47%;
      height: 37px;
      text-align: center;
    label{
      color: #fff;
      font-size: 16px;
      padding: 8px 0 0 0;
      font-family: 'fine-style';
      font-weight: 500;
    }
  }

  .user-detail {
    .signin {
      margin: 0;
    }
    .cart {
      margin-left: 10px;
    }
  }
  .logo h1 {
    top: 0;
    img {
      width: 87px;
      padding: 5px;
    }
  }
  .how-it-works {
    min-height: 200px;
  }
  .play {
    font-size: 25px;
    img {
      width: 30px;
    }
  }
  .account-type {
    margin: 10px 0;
    display: block;
  }
  .orders-dropdown { top: -10px; }
  .order-summary {
    .item-num { font-size: 20px; }
  }
  .delivery {
    padding: 15px 0;
    border-right: none;
    border-bottom: 1px solid $brand-dark-pink;
    address { font-size: 15px; }
  }
  .order-detail-summary .delivery {
    border-right: none;
    border-bottom: 1px solid $brand-dark-blue;
  }
  .product-all-detail { font-size: 15px; }
  .order-detail-heading { text-align: center; }
  // product
  .product-imgholder {
    height: 250px;
    .wishlist {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
}
  }
  .product-detail h4 {
    min-height: 35px;
    margin: 15px 0 10px;
  }
  .search-product input { width: 89%; }
  // product detail
  .productdetail-slider .prd-slide-imgholder { @include square(350px); }
  .suggested-imgholder { @include square(200px); }
  .product-related-slider {
    margin: 0 auto;
    position: static;
    @include transform(rotate(0deg));
    .related-imgholder img { @include transform(rotate(0deg)); }
  }
  .product-descp { margin: 50px 0px 0; }
  .order-time .time { margin-bottom: 10px; }
  .product-descp .order-time label { width: 120px; }
  .suggested-slider {
    .flexslider {
      width: 66%;
    }
  }
  // popups
  .or {
    &:after, &:before {
      width: 70px;
    }
    &:after {
      right: 33%;
    }
    &:before {
      left: 33%;
    }
  }
  // popups ends
  // cart
  .prd-name {
    font-size: 17px;
  }
  // wishlist
  .wishlisted-product .col-md-4:nth-child(2n+1) .wishlist-product:after { display: none; }
  .wishlist-product { border-bottom: 1px solid $brand-dark-pink  ; }
  .order-delivery-time {
    .time { margin-bottom: 10px; }
    label {
      width: 120px;
      margin-right: 0;
    }
  }
  // talk to us
  .talk-us {
    right: -41px;
    span {
      font-size: 14px;
    }
  }
  // sorry-page
  .sorry, .thankyou {
    padding: 30% 0;
  }
  // celebrity page
  .celebrity-choice-main .col-md-6:nth-child(2n+1) .celebrity-holder { border-right: none; }
  .celebrity-imgholder {
    height: 320px;
    margin: 30px 0px 15px;
    .choice {
      @include square(100px);
      right: 250px;
    }
  }
  .celebrity-holder { border-bottom: 1px solid $brand-pink; }
  .celebrity-price { font-size: 18px; }
}



@media (max-width: 480px) {

  .talk-us{
    display: none;
  }

  .social-btn {
    width: auto;
    padding: 8px 30px;
  }
  body { padding: 53px 0px 0px 0px !important; }
  header {
    padding: 0;
  }
  .heading-bar { padding: 50px 0 30px; }
  .heading-bar h3 { font-size: 35px; }
  .logo h1 {
    top: 0px;
    img {
      width: 75px;
    }
  }
  .logo.small-logo img { width: 75px; }
  .signin {
    img {
      width: 20px;
    }
    span {
      font-size: 12px;
    }
  }
  .user-detail {
    margin: 7px 0 0;
    .cart {
      img {
        width: 25px;
      }
      span {
        font-size: 12px;
      }
    }
  }
  .hamburger {
    margin: 17px 0 8px;
    .icon-bar {
      width: 25px;
    }
  }
  nav {
    width: 320px;
    top: 56px;
  }
  // home
  .home-slider {
    .flex-control-nav { bottom: 20px; }
    .flex-control-paging li a { @include square(8px); }
  }
  .how-it-works {
    min-height: 120px;
    margin-top: -20px;
  }
  .play {
    width: 100%;
    font-size: 18px;
    text-align: center;
    img {
      width: 25px;
    }
  }
  .customerspeak-slider {
    padding: 70px 0 50px;
    margin-top: -70px;
    h4 {
      font-size: 27px;
    }
    .client-speak p {
      font-size: 15px;
    }
  }
  .order-heading {
    font-size: 14px;
    .col-xs-1,.col-xs-4,.col-xs-3 { padding-right: 0; }
  }
  .order-body {
    .panel-title { font-size: 13px; }
    .col-xs-1 { padding-right: 0; }
    .col-xs-4,.col-xs-3 { padding: 0; }
  }
  .orders-dropdown { display: none; }
  .order-address { padding: 0; }
  .order-summary .item-num { font-size: 18px; }
  .billing-detail { font-size: 14px; }
  .on-edit {
    button {
      margin: 0 -6px 10px 0;
      /* display: block; */
      padding: 6px 28px;
    }
  }
  // product
  .product-info { padding: 20px 0px 30px; }
  .product-descp { margin: 30px 0px 0; }
  .product-imgholder {
    height: 170px;
  }
  .product-detail {
    h4 {
      min-height: 50px;
      padding: 0;
      font-size: 15px;
    }
    p { font-size: 15px; }
  }
  .list-view .product-detail h4 { min-height: 25px; }
  // profile
  .bank-detail .reset, .save-changes { width: 196px; }
  // my order
  .buttons-orders button { width: 222px; }
  // save address
  .save button { width: 163px; }
  // product-detail
  .suggested-imgholder {
    @include square(120px);
  }
  .view-button button { padding: 8px; }
  .suggested-slider {
    .flexslider {
      width: 59%;
    }
    .flexslider:hover .flex-direction-nav .flex-prev,
    .flex-direction-nav a.flex-prev { left: -10px; }
    .flex-direction-nav a.flex-prev:before { font-size: 40px; }
    .flex-direction-nav a.flex-next:before { font-size: 40px; }
    .name-suggestprd { font-size: 14px; }
    .rent { font-size: 15px; }
  }
  .productdetail-slider .prd-slide-imgholder {
    @include square(280px);
  }
  .productdetail-slider .flex-control-paging li a { @include  square(6px); }
  .product-descp {
    .calendar { display: block; }
    .name-section { margin: 0; }
    .product-price { font-size: 15px; }
    .time label { width: 120px; }
  }
  .search-product input { width: 86%; }
  .product-related-slider {
    width: 262px;
    .flexslider:hover .flex-direction-nav .flex-prev {
      left: -15px;
    }
    .flexslider:hover .flex-direction-nav .flex-next {
      right: -15px;
    }
    .flex-direction-nav a.flex-prev { left: -15px; }
    .flex-direction-nav a.flex-next { right: -15px; }
  }
  // popups
  .or {
    &:after, &:before {
      width: 50px;
    }
    &:after {
      right: 25%;
    }
    &:before {
      left: 25%;
    }
  }
  .right-reserved {
    p {
      margin: 5px 0;
      display: block;
    }
  }
  .forgotpswd-pop .pop-heading-bar h2 { font-size: 28px; }
  // remove
  .remove-item p { font-size: 18px; }
  .remove-accept { font-size: 18px; }
  // wishlist
  .added-wishist {
    h4 { padding: 10px 5px 0; }
    button { margin: 10px 0; }
  }
  // popups ends
  // footer
  .social-links {
    .list-inline > li { padding: 0 2px; }
  }

  .links ul li a { font-size: 15px; }
  .home-footer {
    .footer-head,.about { font-size: 16px; }
    .question {
      font-size: 16px;
      span {
        margin: 5px 0;
      }
    }
    .about .footer-head {
      font-size: 17px;
      margin-bottom: 10px;
    }
  }
  // footer end
  // pop ups
  .pop-heading-bar h2 { font-size: 35px; }
  .msg { font-size: 17px; }
  .close img { width: 15px; }
  .close-header { padding: 10px 0; }
  .hello {
    h3 { font-size: 30px; }
    .message { font-size: 15px; }
  }
  .continue-shop .outfit { padding: 0; }
  .change-delivery-date p { font-size: 16px; }
  // end pop ups
  // sorry-page, thankyou
  .sorry, .thankyou {
    padding: 65% 0;
  }
  .thankyou {
    h2 { font-size: 40px; }
    span { font-size: 16px; }
    .transaction-detail { margin-top: 20px; }
    button {
      padding: 8px 14px;
      font-size: 16px;
    }
    .hope { font-size: 15px; }
  }
  // cart
  .remove-cart img { width: 10px; }
  // celebrity page
  .celebrity-imgholder {
    height: 250px;
    margin: 30px 0px 10px;
    .choice {
      @include square(70px);
      right: 120px;
    }
  }
}







@media (min-width:320px) and (max-width:480px) {

}
