@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
body {
  padding-top: 70px;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a {
  cursor: pointer;
  @include transition(all ease 300ms);
  &:hover {
    @include transition(all ease 300ms);
    text-decoration: none;
  }
  &:focus {
    outline: none;
    text-decoration: none;
  }
}
// classess
.relate {
  position: relative;
}
.get-center {
  @include position(absolute,50% null null 50%);
  @include transform(translate(-50%,-50%));
}
.row-flex {
  @include display(flex);
}
.col-flex {
  @include flex(1);
}
.m-center {
  margin: 0 auto;
}
.m-clear {
  margin: 0;
}
.pad-zero {
  padding: 0;
}
.pointer {
  cursor: pointer;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.text-light {
  font-weight: 300;
}
.text-medium {
  font-weight: 500;
}
.text-bold {
  font-weight: 700;
}
// end of classess
//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
//bootstrap forms

/* Start writing sass here */
@import "fancybox-override";
