@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/angular-rangeslider/angular.rangeSlider.css";
/* Bootstrap Variables Goes Here */
$brand-dark-blue: #2c2d3d !default;
$brand-dark-pink: #e87b65 !default;
$brand-pink: #fdd3be !default;
$brand-light-pink: #fff6f1 !default;
$brand-facebook: #3b5998 !default;
$brand-google: #d34836 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,100,800,700,500,600,200,300);
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
@font-face {
  font-family: "fine-serif";
  src: url('../fonts/fine-serif.ttf');
}
@font-face {
  font-family: "fine-style";
  src: url('../fonts/fine-style.TTF');
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a {
  cursor: pointer;
  @include transition(all ease 300ms);
  &:hover {
    @include transition(all ease 300ms);
    text-decoration: none;
  }
  &:focus {
    outline: none;
    text-decoration: none;
  }
}
// classess
.relate {
  position: relative;
}
.get-center {
  @include position(absolute,50% null null 50%);
  @include transform(translate(-50%,-50%));
}
.row-flex {
  @include display(flex);
}
.col-flex {
  @include flex(1);
}
.m-center {
  margin: 0 auto;
}
.m-clear {
  margin: 0;
}
.pad-zero {
  padding: 0;
}
.pointer {
  cursor: pointer;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.text-light {
  font-weight: 300;
}
.text-medium {
  font-weight: 500;
}
.text-bold {
  font-weight: 700;
}
.mt5 {
  margin-top: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mg5 {
  margin: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mg10 {
  margin: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}
.mg20 {
  margin: 20px;
}
.pt5 {
  padding-top: 5px;
}
.pr5 {
  padding-right: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.pl5 {
  padding-left: 5px;
}
.pd5 {
  padding: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pd10 {
  padding: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.pl20 {
  padding-left: 20px;
}
.pd20 {
  padding: 20px;
}
.text-underline {
  text-decoration: underline;
}
// color classess
.dark-blue {
  color: $brand-dark-blue;
}
.dark-pink {
  color: $brand-dark-pink;
}
.color-pink {
  color: $brand-pink;
}
.light-pink {
  color: $brand-light-pink;
}
// end color classess
// background classess
.bg-dark-blue {
  background-color: $brand-dark-blue;
}
.bg-dark-pink {
  background-color: $brand-dark-pink;
}
.bg-pink {
  background-color: $brand-pink;
}
.bg-light-pink {
  background-color: $brand-light-pink;
}
// end background classess
// btn-classes
.btn {
  @include transition(all 300ms linear);
  &:focus {
  box-shadow: none;
  outline: none;
  }
  &:hover {
    @include transition(all 300ms linear);
  }
}
.btn-outline {
  @include button-variant($brand-dark-blue, transparent, $brand-dark-blue);
  &:hover {
    @include button-variant($brand-pink, $brand-dark-blue, $brand-dark-blue);
  }
}
.btn-facebook {
  @include button-variant(white, $brand-facebook, $brand-facebook );
}
.btn-google {
  @include button-variant(white, $brand-google, $brand-google );
}
// end btn-classes
// end of classess
//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
//bootstrap forms
.flexslider {
  border: none;
  margin: 0;
}
/* Start writing sass here */
@import "fancybox-override";
