<div class="heading-bar">
    <div class="container text-center">
        <h3 class="heading">About Us</h3>

    </div>
</div>
<div class="container mt50 main-mid-mh">

    <div class="row">

        <div class="col-md-12">

            <div class="data-all">

                <P>Don’t you wish that each time you liked an outfit. It magically appeared in your wardrobe? Did not have to dive deep into your pockets?</P>
                <h2>Say No More!</h2>
                <p class="dark-pink">The Stylease is exactly what the name suggests</P>
                <P class="paddab">Leasing out high-end fashion with ease. It is an e-commerce portal that empowers the modern woman to save time and still be at the top of her game as far as her ethnic wardrobe is concerned.</p>
                <P class="paddab">To rent the finest collection of Indian couture with the snap of your fingers. Straight from the runway, direct to your closet. Pamper your inner diva so you never have to repeat an outfit again.</P>
                <P class="paddab"> Make a statement, define who you are and change the game. Rent with ease, rent with<span class="dark-pink"> The Stylease!</span>
                </p>
            </div>
        </div>
    </div>
</div>
