<div class="heading-bar text-center">
    <h3 class="heading">Bank Details</h3>
</div>
<div class="bankdetails">
    <div class="container">
        <h3 class="dark-blue text-uppercase">My Account</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="bank-tab" ng-include="template.account"></div>
            </div>
            <div class="col-md-8">
                <div class="bankdetail-main">
                    <form action="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="relate">
                                    <input type="text" ng-disabled="!set.Profile" class="form-control" placeholder="Beneficiary Name" ng-model="userdata.beneficiaryName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="relate">
                                    <input type="text" ng-disabled="!set.Profile" class="form-control" placeholder="Account Number" ng-model="userdata.accountNumber">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="relate">
                                    <input type="text" ng-disabled="!set.Profile" class="form-control" placeholder="Bank Name" ng-model="userdata.bankName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="relate">
                                    <input type="text" ng-disabled="!set.Profile" class="form-control" placeholder="IFSC Code" ng-model="userdata.IFSC">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-outline mt20 mb20 btn-full text-medium" ng-hide="set.Profile" ng-click="set.Profile=true">Edit</button>
                            <div class="on-edit mt20 mb20" ng-show="set.Profile">
                                <button type="reset" class="btn btn-outline text-medium btn-full">Reset Details</button>
                                <a class="btn btn-outline text-medium btn-full" ng-click="saveProfile()">Save Changes</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
