<div class="heading-bar">
    <div class="container text-center">
        <h3 class="heading">Cancelation Policy</h3>

    </div>
</div>
<div class="container mt50">
    <div class="row">
<div class="col-md-12">
  <div class="data-all">
    <ul>
      <li>
        <p>The policy mentioned below governs the cancellation of order(s) for product(s) ordered by you as the user of the '<a href="">www.thestylease.com</a>' <span>("Cancellation Policy")</span> while renting Product(s).  By mere using, accessing, browsing or availing any product(s) from the site the user has to abide by this cancelation policy.</p>
      </li>
      <li>
        <p>
          The reference of "you" or "User" or "User's" in the policy mentioned below is of you the User of the Site and the reference of "we" "us" "our" or "the Site Owner" is for "thestylease".
        </p>
      </li>
      <li>
        <p>
          For the purpose of this Cancellation Policy, the "User" shall mean any natural person or legal person who is competent     Contract under the "Indian Contract Act, 1872".
        </p>

      </li>
      <li>
        <p>

          The Site Owner keeps the right to itself to cancel the order placed by the User. The Site Owner can cancel the order at its on discretion under following situations:
          <ul class="un-list">
            <li>
              <p>
                The product which is ordered by user is out of stock or there has been a prior user who has successfully ordered the product same as you.
              </p>
            </li>
            <li>
              <p>
                There has been a problem or default in the payment made by user while making payment for the ordered product.
              </p>
            </li>
            <li>
              <p>
                The delivery address so mentioned by the user is imprecise or inadequate for the product to be delivered.
              </p>
            </li>
            <li>
              <p>
                The address so mentioned by the user falls out of the place of business of the Site Owner.
              </p>
            </li>
          </ul>
        </p>

      </li>
      <li>
        <P>  The User can cancel the order provided it follows the following conditions:

<ul class="un-list">
  <li>
    <p>
      The cancelation request must be emailed to <a href="mailto:contact@thestylease.com">contact@thestylease.com</a>.
    </p>

  </li>
  <li>
    <p>
        <p>If the cancellation request is made in more than 7 days in advance of delivery of product then in that event the refund made is of 100% of value of product.</p>
    </p>
  </li>
  <li>
    <p>
      If the cancelation request is made between 7-3 days before delivery of the product then in that event the refund is made of 50% of value of product.
    </p>
  </li>
  <li>
    <p>
      If the cancellation request is made in less than 3 days of delivery of the product then no refund will be made for such      cancelation.
    </p>
  </li>
  <li>
    <p>
      The Security Deposit will be returned in full for cancellation if occurs as in 5 (ii)(iii) & (iv).
    </p>
  </li>
  <li>
    <p>
      The User shall not dispute over the cancellation fee as charged by Site Owner.
    </p>
  </li>
</ul>
        </P>
      </li>
      <li>
        <p>
          In case the order is cancelled after the payment the amount so charged shall be reversed back to the credit/debit account of the User.
        </p>
      </li>
<li>
  <P>
     The refund money for cancelation will be refunded within 45 days of cancellation.
  </P>
</li>
<li>
  <p>
    In case any dispute arises regarding a cancellation request will be governed by this Cancellation Policy and by the laws of India and courts of Mumbai shall have exclusive jurisdiction.
  </p>
</li>
    </ul>
  </div>
</div>
    </div>
</div>
