<div class="heading-bar">
   <div class="container text-center">
      <div class="relate hidden-md hidden-sm hidden-xs">
      </div>
      <h3 class="heading">CELEBRITIES CHOICE</h3>
   </div>
</div>
<div class="shop">
   <div class="celebrity-choice-main" ng-if="celebrityData.length==0">
      <h3 class="text-center">No data found</h3>
   </div>
   <div class="celebrity-choice-main">
      <div class="container">
         <div class="row" infinite-scroll='loadMore()' infinite-scroll-disabled="shouldscroll">
            <div class="col-md-6 col-sm-6" ng-repeat="celebrity in celebrityData track by $index" ng-if="celebrity.status">
               <div class="celebrity-holder relate">
                  <div class="clearfix">
                     <div class="pull-left">

                        <h3 class="shop-name m-clear mb5 padd">{{celebrity.celebrity}}</h3>
                     </div>
                     <div class="pull-right">
                        <span class="pointer celebrity-heart inline-block" ng-click="addTowishlist(celebrity.product._id); "><i class="fa " ng-class="{ 'fa-heart':isInWishlist(celebrity.product._id), 'fa-heart-o':!isInWishlist(celebrity.product._id)} "></i></span>
                     </div>
                  </div>

                  <div class="celebrity-imgholder relate text-center">
                     <div class="display-inline" ng-repeat="img in celebrity.images track by $index">
                        <div class="img-holder">
                           <img ng-src="{{img.image|serverimage}}" alt="{{celebrity.celebrity}}" ui-sref="productdetail({subcatname:celebrity.product.name,id:celebrity.product._id})">


                        </div>
                     </div>

                     <!-- <p ng-if="product.designer"> {{product.designer.name | shorten:30}} </p> -->
                     <h4 class="product-name">{{celebrity.product.name}}</h4>
                     <div class="text-center">
                        <h3 class="celebrity-price m-clear">Rent : <i class="fa fa-inr"></i> {{celebrity.product.fourdayrentalamount}}/-</h3>
                        <button class="btn btn-outline btn-full text-medium mt20 mb20" ui-sref="productdetail({subcatname:celebrity.product.name,id:celebrity.product._id})">View Details</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
