<div class="heading-bar">
  <div class="container text-center">
    <div class="relate hidden-sm hidden-xs">
      <div class="search-product">
        <form action="">
          <input type="search" placeholder="Find what you're looking for !">
          <button type="submit" class="bg-dark-pink">
            <img src="img/search.png" alt="" class="img-responsive">
          </button>
        </form>
      </div>
    </div>
    <h3 class="heading">CELEBRITIES  CHOICE</h3>
    <span class="found block">7 items</span>
  </div>
</div>
<div class="shop">
  <div class="container">
    <div class="search-product hidden-md visible-sm visible-xs">
      <form action="">
        <input type="search" placeholder="Find what you're looking for !">
        <button type="submit" class="bg-dark-pink">
          <img src="img/search.png" alt="" class="img-responsive">
        </button>
      </form>
    </div>
  </div>
</div>
