<div class="heading-bar">
  <h3 class="heading">Change Password</h3>
</div>
<h3 class="dark-blue text-uppercase text-center hidden-md hidden-sm hidden-lg hidden-xs">change password</h3>

<div class="mob-slider hidden-md hidden-sm hidden-lg visible-xs">
  <flex-slider flex-slide="s in download track by $index" class="bg-color" animation="slide" item-width="200" item-margin="10" animationloop="true" move="2">
    <li auto-heightfixed>
      <a ng-if="s.state !== 'log'" ui-sref="{{s.state}}">{{s.name}}</a>
      <a ng-if="s.state === 'log'" ng-click="logout()">{{s.name}}</a>
    </li>
  </flex-slider>
</div>
<div class="container">
  <h3 class="dark-blue text-uppercase hidden-xs">change password</h3>
  <div class="row">
    <div class="col-md-3 hidden-xs">
      <div class="prof-tab" ng-include="template.account"></div>
    </div>
      <div class="col-md-9 fixed-height">
        <div class="account-change-pswd">
          <form  name="formPassword" ng-if=!passChanged ng-submit="changePassword(form)">
            <div class="row wd50" >
              <div class="col-md-12">
                <div class="relate">
                  <input type="password" placeholder="Old Password" class="form-control" ng-model="form.oldPassword" name="old" required>
                  <div class="form-error" ng-show="formPassword.old.$error.required && formPassword.old.$touched">
                    Please enter your old password.
                  </div>
                </div>
                <div ng-if="invalidPass">Please enter Valid password</div>
              </div>
              <div class="col-md-12">
                <div class="relate">
                  <input type="password" placeholder="New Password" class="form-control" ng-model="form.newPassword" name="new" required>
                  <div class="form-error" ng-show="formPassword.new.$error.required && formPassword.new.$touched">
                    Please enter your new password.
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="relate">
                  <input type="password" placeholder="Confirm Password" class="form-control" ng-model="form.confirm" name="confirm" required>
                  <div class="form-error" ng-show="formPassword.confirm.$touched && (formPassword.confirm.$error.required  || form.newPassword != form.confirm)">Password do not match.</div>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-outline btn-full text-medium mt20" ng-disabled="formPassword.$invalid || form.newPassword != form.confirm">Submit</button>

               <!-- <a class="btn btn-outline btn-full text-medium mt20" ng-disabled="formPassword.$invalid || form.newPassword != form.confirm" >Submit</a> -->

              </div>
            </div>

          </form>
          <!-- <div ng-if="passChanged">Your password has been changed
                                      Successfully</div> -->
        </div>
      </div>
    </div>
  </div>
</div>
