<div class="heading-bar">
  <h3 class="heading">Change Password</h3>
</div>
<div class="change-pswd">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <form action="">
          <div class="relate">
            <input type="password" placeholder="Old Password" class="form-control">
          </div>
          <div class="relate">
            <input type="password" placeholder="New Password" class="form-control">
          </div>
          <div class="relate">
            <input type="password" placeholder="Confirm Password" class="form-control">
          </div>
          <button class="btn btn-outline">Get Started !</button>
        </form>
      </div>
    </div>
  </div>
</div>
