<div class="heading-bar text-center">
  <h3 class="heading">Order Detail</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="order-detail">
        <h3 class="dark-blue">Order Summary :</h3>
        <div class="row bor-bot" ng-repeat="product in cartProduct">
          <div class="col-md-5">
            <div class="order-imgholder relate" ng-repeat=" proimage in product.product.images | orderBy:'order' | limitTo: 1">
              <img ng-src="{{proimage.image | serverimage}}" alt="{{product.product.name}}" class="get-center img-responsive">
            </div>
          </div>
          <div class="col-md-7">
            <div class="order-detail-info dark-blue paddup15">
              <div class="order-detail-heading">
                <h3 class="m-clear mb5">{{product.product.name}}</h3>
                <p ng-if="product.product.by" class="text-medium"><b>by : <span>{{product.by}}</b></span>
                </p>
              </div>
              <div class="order-prd-detail">
                <!-- <p class="mb5"><span class="edit-cart">RENT</span> <span>Rs. 6,700/-</span></p>
                <p class="mb5"><span class="edit-cart">Size</span> <span>M</span></p>
                <p class="mb5"><span class="edit-cart">Delivery Date</span> <span>04 May, 2016</span></p>
                <p class="mb5"><span class="edit-cart">Duration</span> <span>11 May, 2016</span></p> -->
                <!-- <p>Retail Price : INR <span>{{product.product.price}}/-</span></p> -->
                <p ng-if="product.size" class="mb5"><span class="edit-cart">Size</span> <span>{{product.size}}</span></p>
                <p class="mb5"><span class="edit-cart">Rental</span> <span ng-if="product.duration==4">INR {{product.product.fourdayrentalamount|currency}}/-</span>
                  <span ng-if="product.duration==8">INR {{product.product.eightdayrentalamount|currency}}/-</span>
                </p>
                <p class="mb5"><span class="edit-cart">Delivery Date</span> <span>{{product.timeFrom | date : 'mediumDate'}}</span></p>
                <p class="mb5"><span class="edit-cart">Duration</span> <span>{{product.duration}} Days</span></p>
                <p class="mb5"><span class="edit-cart">Delivery Time</span> <span>{{product.deliveryTime}}</span></p>
                <p class="mb5"><span class="edit-cart">Pickup Time</span> <span>{{product.pickupTime}}</span></p>
              </div>
            </div>
          </div>
        </div>
        


        <div class="order-detail-summary">
          <div class="order-address">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="delivery">
                  <h4>Billing Address</h4>
                  <h5 class="name">
                    {{userdata.firstname}} {{userdata.lastname}}</h5>
                  <address>
                    {{userdata.billingAddress.billingAddressFlat}}, {{userdata.billingAddress.billingAddressStreet}},<br>                    {{userdata.billingAddress.billingAddressLandmark}}, <br> {{userdata.billingAddress.billingAddressCity}}
                    - {{userdata.billingAddress.billingAddressPin}}. <br> {{userdata.billingAddress.billingAddressState}},
                    {{userdata.billingAddress.billingAddressCountry}}
                    <!-- B/1202 ,sairam niwas, nr.eastern express highway, thane east mumbai- 400081 maharashtra -->
                    <span class="block mt10">Mobile : <a href="tel:{{userdata.mobile}}" class="dark-blue">{{userdata.mobile}}</a></span>
                  </address>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="delivery no-border">
                  <h4>Shipping Address</h4>
                  <h5 class="name">
                    {{userdata.firstname}} {{userdata.lastname}}</h5>
                  <address>
                    {{userdata.shippingAddress.shippingAddressFlat}}, {{userdata.shippingAddress.shippingAddressStreet}},<br>                    {{userdata.shippingAddress.shippingAddressLandmark}}, <br> {{userdata.shippingAddress.shippingAddressCity}}
                    - {{userdata.shippingAddress.shippingAddressPin}}. <br> {{userdata.shippingAddress.shippingAddressState}},
                    {{userdata.shippingAddress.shippingAddressCountry}}
                    <span class="block mt10">Mobile : <a href="tel:{{userdata.mobile}}" class="dark-blue">{{userdata.mobile}}</a></span>
                  </address>
                </div>
              </div>
            </div>
          </div>



         <div style="border-top:1px solid; margin-bottom:20px;">
            <h4>Promo Code</h4>
            <div class="row">
               <form name="formcoupon">
            <div class="col-md-4 col-sm-6 col-xs-6">
            <input type="text" class="form-control" style="border: 1px solid;
    padding: 0 10px;" ng-model="code" name="code" placeholder="Promo Code" required>
            </div>
             <div class="col-md-2 col-sm-3 col-xs-3">
            <button ng-click="checkCoupon(code)" style="background: none;text-transform: uppercase;text-decoration: underline;padding: 0px;font-size: 20px;" class="btn btn-full text-medium">Apply</button>
            </div>

             <div class="col-md-6 col-sm-6 col-xs-6">
           <p ng-if="errmsg==false" style="color:green;">promo code applied!</p>
            <p ng-if="errmsg==true"style="color:red;">promo code invalid!</p>
            </div>
            </form>
            </div>
          </div>



          <div class="billing-detail">
            <h4>Billing Details</h4>
            <table class="table">
              <tbody>
                <tr>
                  <td>Rental Amount</td>
                  <td>Rs <span>{{totalrentalamount|currency}}/-</span></td>
                </tr>
                <tr>
                  <td>Discount</td>
                  <td>Rs <span>{{discountamount|currency}}/-</span></td>
                </tr>
                <tr>
                  <td>Sub Total</td>
                  <td>Rs <span>{{subtotal|currency}}/-</span></td>
                </tr>
                <tr>
                  <td>
                    Service Tax :
                  </td>
                  <td>Rs <span>{{servicetax|currency}}/-</span></td>
                </tr>
                <tr>
                  <td>
                    Refundable Deposit :
                  </td>
                  <td>Rs <span>{{totalsecuritydeposit|currency}}/-</span></td>
                </tr>
                <!-- <tr>
                  <td>Delivery charge :</td>
                  <td>Rs <span>0.00</span></td>
                </tr> -->
                <tr>
                  <td>Total :</td>
                  <td>Rs <span>{{grandtotal|currency}}/-</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="buttons-orders text-center">
            <button class="btn btn-outline btn-full text-medium" ng-click="placeOrder()">Proceed to payment</button>
          </div>
          <div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>