<div class="heading-bar text-center">
  <h3 class="heading">Sign in</h3>
</div>
<div class="checkout-signin">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="checkout-sign-main text-center">
          <div class="block text-center mb10">
            <button class="btn btn-google btn-full social-btn" ng-click="googleLogin()"><i class="fa fa-google-plus mr10"></i>Signin with Google+</button>
          </div>
          <div class="block text-center mb10">
            <button class="btn btn-facebook btn-full social-btn" ng-click="facebookLogin()"><i class="fa fa-facebook mr10"></i>Signin with Facebook</button>
          </div>
          <div class="mt10 mb10">
            <button class="btn btn-outline btn-full text-medium social-btn" ui-sref="checkoutlogin">Already have an account</button>
          </div>
          <div class="or relate mb20 mt20">
            <span>OR</span>
          </div>
          <div class="mt10 mb10">
            <button class="btn btn-outline btn-full text-medium social-btn">Create your account</button>
          </div>
          <div class="continue-guest">
            <div class="custom-checkbox">
              <input type="checkbox" ng-click="goToAddress()" id="guest">
              <label for="guest"> Continue as guest</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
