<div class="heading-bar text-center">
  <h3 class="heading">Login</h3>
</div>
<div class="checkout-login">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="checkout-login-main text-center">
          <form action="">
            <input type="email" class="form-control" placeholder="Email Id">
            <input type="password" class="form-control" placeholder="Password">
            <button class="mt20 mb20 btn btn-outline btn-full text-medium" ui-sref="address">Login</button>
            <div class="clearfix">
              <span class="pull-right pointer">Forgot Password ?</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
