<div class="heading-bar">
    <div class="container text-center">
        <h3 class="heading">contact us</h3>

    </div>
</div>
<div class="container mt50">
    <!--  <div class="row">
          <div class="col-md-8" >
            <div class="maps relate">
               <div class="abs">
            <h3 class="heading text-up">contact us</h3>
        </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15079.80400298403!2d72.8882595!3d19.1098054!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8e33d8f42cdd615d!2sThe+Stylease!5e0!3m2!1sen!2sin!4v1472187839943" width="100%" height="600" frameborder="0"
                    style="border:0" allowfullscreen></iframe>
                <div class="cn">
                    <h4 class="margin0">
        Contact us - +91 97351 88624
      </h4>
                    <h4 class="margin0">E-mail us - contact@thestylease.com</h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="mt100">-->
    <div class="contactchange">

        <div class="leave-form">
            <h2>LEAVE A MESSAGE</h2>
        </div>
        <form action="">
            <div class="cont-form">
                <div class="form-group">
                    <input type="text" class="form-control" id="usr" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="usr" placeholder="Email-id">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="usr" placeholder="Mobile no">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="usr" placeholder="Message">
                </div>
                <div class="form-group btn-sub">
                    <button type="button" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="cn">
        <h4 class="cn2"> FOR INFO RELATED QUERIES </h4>
        <h4 class="margin0"><i class="fa fa-phone mr10 dark-pink"></i> +91 97351 88624 </h4>
        <h4 class="margin0"><i class="fa fa-envelope mr10 dark-pink"></i> contact@thestylease.com</h4>
    </div>
    <!--</div>
        </div>

     </div> -->
</div>
