<div class="heading-bar">
	<div class="container text-center">
		<h3 class="heading">Designers</h3>
		<p>181 ITEMS</p>
	</div>
</div>
<div class="scroll" style="border-bottom: 1px solid #fdd3be; position:relative;">
	<ul class="ul">
		<li class="menu-designer">
			<div>
				<p value="Show Hide DIV" ng-click="ShowHide()"><span class="glyphicon glyphicon-filter"></span>Designers</p>
				<div ng-show="IsVisible" style="position:absolute;background-color:#fdd3be; z-index: 2;">
					<div class="magic-form ">
						<div class="magic-resize designer-check">
							<input class="magic-checkbox" type="checkbox" id="1">
							<label class="detail-heading" for="1">All</label>
						</div>
					</div>
					<div class="magic-form ">
						<div class="magic-resize designer-check">
							<input class="magic-checkbox" type="checkbox" id="2">
							<label class="detail-heading" for="2">Premium Designers</label>
						</div>
					</div>
					<div class="magic-form ">
						<div class="magic-resize designer-check">
							<input class="magic-checkbox" type="checkbox" id="3">
							<label class="detail-heading" for="3">Clothing Designers</label>
						</div>
					</div>
					<div class="magic-form ">
						<div class="magic-resize designer-check">
							<input class="magic-checkbox" type="checkbox" id="4">
							<label class="detail-heading" for="4">Jewellery Designers</label>
						</div>
					</div>
					<div class="magic-form ">
						<div class="magic-resize designer-check-last">
							<input class="magic-checkbox" type="checkbox" id="5">
							<label class="detail-heading" for="5">Popular Designers</label>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="menu-designer" ng-click="filterMe(0)" >ABC</li>
		<li class="menu-designer" ng-click="filterMe(1)">DEF</li>
		<li class="menu-designer" ng-click="filterMe(2)" >GHI</li>
		<li class="menu-designer" ng-click="filterMe(3)" >JKL</li>
		<li class="menu-designer" ng-click="filterMe(4)" >MNO</li>
		<li class="menu-designer" ng-click="filterMe(5)" >PQR</li>
		<li class="menu-designer" ng-click="filterMe(6)" >STU</li>
		<li class="menu-designer" ng-click="filterMe(7)" >VWX</li>
		<li class="menu-designer" ng-click="filterMe(8)" >YZ</li>
		<li class="menu-designer">#</li>
	</ul>
</div>
<div class="designers-list">
	<div class="container">
		<div class="row ">
			<div class="col-md-2 col-sm-2 col-xs-12">
				<ul>
					<li>
						<h2>{{filterData.searchText[0] | uppercase}}</h2>
					</li>
					<li ng-repeat="f in filteredData.firstObj[0] | limitTo: lim">{{f.name}}</li>
					
				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12">
				<ul>
					<li>
						<h2 class="hidden-xs" style=" visibility: hidden;">a </h2>
					</li>
					<li ng-repeat="f in filteredData.firstObj[1] | limitTo: lim">{{f.name}}</li>
					
				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12">
				<ul>
					<li>
						<h2>{{filterData.searchText[1] | uppercase}}</h2>
					</li>
					<li ng-repeat="f in filteredData.secondObj[0] | limitTo: lim">{{f.name}}</li>
				
				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12">
				<ul>
					<li>
						<h2 class="hidden-xs" style=" visibility: hidden;">d</h2>
					</li>
					<li ng-repeat="f in filteredData.secondObj[1] | limitTo: lim">{{f.name}}</li>
					
				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12">
				<ul>
					<li>
						<h2>{{filterData.searchText[2] | uppercase}}</h2>
					</li>
					<li ng-repeat="f in filteredData.thirdObj[0] | limitTo: lim">{{f.name}}</li>
					
				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12">
				<ul>
					<li>
						<h2 class="hidden-xs" style=" visibility: hidden;">d</h2>
					</li>
					<li ng-repeat="f in filteredData.thirdObj[1] | limitTo: lim">{{f.name}}</li>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="row text-center" style="padding-top:30px;padding-bottom:30px;margin:0;">
		<p style="letter-spacing: 1px;" >
	<button style="
    display:inline-block;
    border-bottom:1px solid black;
    padding-bottom:1px;" ng-click="loadmoredesigner('loadMore')">VIEW MORE </button></p>
		
	</div>


</div>