<div class="heading-bar">
	<div class="container text-center">
		<h3 class="heading">Designers</h3>
		<p>181 ITEMS</p>
	</div>
</div>
<div class="scroll" style="border-bottom: 1px solid #fdd3be; position:relative;">
	<ul class="ul">
		<li class="menu-designer">
			<div>
				<p value="Show Hide DIV" ng-click="ShowHide()"><span class="glyphicon glyphicon-filter"></span>Designers</p>
				<div ng-show="IsVisible" style="position:absolute;background-color:#fdd3be; z-index: 2;">
					<div class="magic-form ">
						<div class="magic-resize designer-check">
							<input class="magic-checkbox" type="checkbox" id="1">
							<label class="detail-heading" for="1">All</label>
						</div>
					</div>
					<div class="magic-form ">
						<div class="magic-resize designer-check">
							<input class="magic-checkbox" type="checkbox" id="2">
							<label class="detail-heading" for="2">Premium Designers</label>
						</div>
					</div>
					<div class="magic-form ">
						<div class="magic-resize designer-check">
							<input class="magic-checkbox" type="checkbox" id="3">
							<label class="detail-heading" for="3">Clothing Designers</label>
						</div>
					</div>
					<div class="magic-form ">
						<div class="magic-resize designer-check">
							<input class="magic-checkbox" type="checkbox" id="4">
							<label class="detail-heading" for="4">Jewellery Designers</label>
						</div>
					</div>
					<div class="magic-form ">
						<div class="magic-resize designer-check-last">
							<input class="magic-checkbox" type="checkbox" id="5">
							<label class="detail-heading" for="5">Popular Designers</label>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="menu-designer">ABC</li>
		<li class="menu-designer">DEF</li>
		<li class="menu-designer">GHI</li>
		<li class="menu-designer">JKL</li>
		<li class="menu-designer">MNP</li>
		<li class="menu-designer">OQR</li>
		<li class="menu-designer">STU</li>
		<li class="menu-designer">VWY</li>
		<li class="menu-designer">XYZ</li>
		<li class="menu-designer">#</li>
	</ul>
</div>
<div class="designers-list">
	<div class="container">
		<div class="row ">
			<div class="col-md-2 col-sm-2 col-xs-12">
				<ul>
					<li>
						<h2>A</h2>
					</li>
					<li>Aadi Shop by Shalini</li>
					<li>Aamaya by Priyanka</li>
					<li>Aartivijay Gupta</li>
					<li>Aastha Wadhwa</li>
					<li>Aaylixir</li>
					<li>Abhinav Mishra</li>
					<li>Abhijeet Khanna</li>
					<li>Abhishek Vermaa</li>
					<li>Adora/Ankita</li>
					<li>Aditi Somani</li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12">
				<ul>
					<li>
						<h2 class="hidden-xs" style=" visibility: hidden;">a </h2>
					</li>
					<li>Adya</li>
					<li>Aekatri by Charu Vij</li>
					<li>Agami by Neha Agarwal</li>
					<li>AGT by Amit GT</li>
					<li>Anguj/Gunjan Arora</li>
					<li>Aharin India</li>
					<li>Ahilya Jewels</li>
					<li>Aiman</li>
					<li>Akshay Wadhwa</li>
					<li>Akaroo</li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12">
				<ul>
					<li>
						<h2>B</h2>
					</li>
					<li>Baavli</li>
					<li>Babita Malkani</li>
					<li>Bansri</li>
					<li>Bhanuni by Jyoti</li>
					<li>Bhavya Bhatnagar</li>
					<li>Bhoomika Chouhan</li>
					<li>Bhumika Grover</li>
					<li>Bhumika Sharma</li>
					<li>BIAS</li>
					<li>BIBA/ Rohit Bal</li>
					<li>Bina Dua</li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12">
				<ul>
					<li>
						<h2 class="hidden-xs" style=" visibility: hidden;">d</h2>
					</li>
					<li>Birdwalk</li>
					<li>Bling Accessories</li>
					<li>Blue Lotus by Ritu Kapur</li>
					<li>Blushing Couture by Shafali</li>
					<li>BookMyBindi</li>
					<li>Breathe by Aakansha and Nupur</li>
					<li>Bubber Couture</li>
					<li>Bungalow 8</li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12">
				<ul>
					<li>
						<h2>C</h2>
					</li>
					<li>Carousel by Simran Arya</li>
					<li>Casa Pop</li>
					<li>Chandrani Singh Flora</li>
					<li>Cherie D</li>
					<li>Chhavvi Aggarwal</li>
					<li>Chhavi's Jewel</li>
					<li>Chhaya mehrotras</li>
					<li>Chicory Chai</li>
					<li>Chique Clothing</li>
					<li>Christine Aranha</li>
					<li>Closest Drama</li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12">
				<ul>
					<li>
						<h2 class="hidden-xs" style=" visibility: hidden;">d</h2>
					</li>
					<li>Cita 9/Ritu $ Divvya</li>
					<li>Coral Haze</li>
					<li>Coterie Jewels</li>
					<li>Crazy Palette</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row text-center" style="padding-top:30px;padding-bottom:30px;margin:0;">
		<p style="letter-spacing: 1px;"><span style="
    display:inline-block;
    border-bottom:1px solid black;
    padding-bottom:1px;">VIEW MORE</></p>
		
	</div>


</div>