<div class="heading-bar">
	<div class="container text-center">
		<h3 class="heading">Designers</h3>
		<p>181 ITEMS</p>
	</div>
</div>
<div class="scroll" style="border-bottom: 1px solid #fdd3be; position:relative;">
	<ul class="ul">
		<li class="menu-designer">
			<div>
				<p value="Show Hide DIV" ng-click="ShowHide()"><span class="glyphicon glyphicon-filter"></span>Designers</p>
				<div ng-show="IsVisible" style="position:absolute;background-color:#fdd3be; z-index: 2;">
					<div class="magic-form ">
						<div class="magic-resize designer-check">
							<input class="magic-checkbox" type="checkbox" name="all" ng-model="all" ng-change="pushAllDesignerType(all,checkIt[all])"
							    id="all">
							<label class="detail-heading" for="all">All</label>
						</div>
					</div>
					<div class="magic-form " ng-repeat="designer in designerType track by $index">
						<div class="magic-resize designer-check">
							<input class="magic-checkbox" type="checkbox" name="{{designer.name}}" ng-model="checkIt[designer.name]" ng-change="pushDesignerType(checkIt[designer.name],designer._id,designer.name)"
							    id="{{designer.name}}">
							<label class="detail-heading pointer" for="{{designer.name}}">{{designer.name}}</label>
						</div>
					</div>

				</div>
			</div>
		</li>
		<li class="menu-designer" ng-click="filterMe(0,null)">ABC</li>
		<li class="menu-designer" ng-click="filterMe(1,null)">DEF</li>
		<li class="menu-designer" ng-click="filterMe(2,null)">GHI</li>
		<li class="menu-designer" ng-click="filterMe(3,null)">JKL</li>
		<li class="menu-designer" ng-click="filterMe(4,null)">MNO</li>
		<li class="menu-designer" ng-click="filterMe(5,null)">PQR</li>
		<li class="menu-designer" ng-click="filterMe(6,null)">STU</li>
		<li class="menu-designer" ng-click="filterMe(7,null)">VWX</li>
		<li class="menu-designer" ng-click="filterMe(8,null)">YZ</li>

	</ul>
</div>
<div class="designers-list">
	<div class="container">
		<div class="row ">
			<div class="col-md-2 col-sm-2 col-xs-12">
				<ul>
					<li>
						<h2>{{filterData.searchText[0] | uppercase}}</h2>
					</li>
					<li  class="pointer" ng-repeat="f in filteredData.firstObj[0] | limitTo: lim" ui-sref="product({name:f.name,id: f._id})">{{f.name}}</li>

				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12">
				<ul>
					<li>
						<h2 class="hidden-xs" style=" visibility: hidden;">a </h2>
					</li>
					<li class="pointer" ng-repeat="f in filteredData.firstObj[1] | limitTo: lim" ui-sref="product({name:f.name,id: f._id})">{{f.name}}</li>

				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12">
				<ul>
					<li>
						<h2>{{filterData.searchText[1] | uppercase}}</h2>
					</li>
					<li  class="pointer" ng-repeat="f in filteredData.secondObj[0] | limitTo: lim" ui-sref="product({name:f.name,id: f._id})">{{f.name}}</li>

				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12">
				<ul>
					<li>
						<h2 class="hidden-xs" style=" visibility: hidden;">d</h2>
					</li>
					<li  class="pointer" ng-repeat="f in filteredData.secondObj[1] | limitTo: lim" ui-sref="product({name:f.name,id: f._id})">{{f.name}}</li>

				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12">
				<ul>
					<li>
						<h2>{{filterData.searchText[2] | uppercase}}</h2>
					</li>
					<li  class="pointer" ng-repeat="f in filteredData.thirdObj[0] | limitTo: lim"  ui-sref="product({name:f.name,id: f._id})">{{f.name}}</li>

				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12">
				<ul>
					<li>
						<h2 class="hidden-xs" style=" visibility: hidden;">d</h2>
					</li>
					<li  class="pointer" ng-repeat="f in filteredData.thirdObj[1] | limitTo: lim"  ui-sref="product({name:f.name,id: f._id})">{{f.name}}</li>

				</ul>
			</div>
		</div>
	</div>
	<!-- <div class="row text-center" style="padding-top:30px;padding-bottom:30px;margin:0;">
		<button ng-click="loadmoredesigner('loadMore')" class="btn btn-view">VIEW MORE </button>
	</div> -->


</div>
