<div class="heading-bar">
    <div class="container text-center">
        <h3 class="heading">FAQs</h3>

    </div>
</div>
<div class="container mt50 main-mid-mh">

    <div class="row">

        <div class="col-md-12 text-center about-font-size">
            <h2>Coming Soon!</h2>
           <!--<h3>Question</h3>
           <p> Answer - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, quos, at? Officiis illo pariatur non nobis, sed consequuntur dolorem doloribus soluta. Est tempore harum, in veniam quo vero sint, voluptas.</p>
        
           <h3>Question 2</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam non minima, mollitia aliquam ab iusto reprehenderit pariatur, labore sint itaque, illo in sed laudantium assumenda, suscipit soluta repudiandae aliquid quas!</p>-->
        </div>
    </div>
</div>