<div class="mobile-slider relate visible-xs">
<flex-slider ng-if="mySlides.length>0" flex-slide="s in mySlides track by $index" prev-text="" next-text="" direction-nav="false" >
  <li ng-if="s.mobileimage !==''">
    <img ng-src="{{s.mobileimage|serverimage}}" alt="{{s.title}}" class="img-responsive">
  </li>
</flex-slider>
<!-- <div class="talk-us pointer">
    <span class="text-uppercase">talk to us</span>
  </div> -->
</div>

<div class="home-slider relate hidden-xs">
  <flex-slider ng-if="mySlides.length>0" flex-slide="s in mySlides track by $index" prev-text="" next-text="" direction-nav="false" slideshowSpeed=5000>
    <li>
      <img ng-src="{{s.image|serverimage}}"  alt="{{s.title}}" class="img-responsive">
    </li>
  </flex-slider>
  <!-- <div class="talk-us pointer">
    <span class="text-uppercase">talk to us</span>
  </div> -->
</div>

<div class="container-fluid">
  <div class="how-it-works relate">
    <div class="play get-center font-serif">
      <h1>Want to know how its done ?</h1>
<br>
      <a href="" ng-click="hiw();" class="am">Know More</a>
    </div>
  </div>
</div>
<!-- <div class="container-fluid">
  <div class="how-it-works relate" ng-click="verified();">
    <div class="play get-center font-serif">
      <span>HOW IT <img src="img/play-work.png" alt="" class=""> WORKS</span>
    </div>
  </div>
</div> -->
<div class="occasion-main">
  <div class="container-fluid">
    <div ng-repeat="subcat in subcategory">
      <div class="row-flex" ng-if=" subcat.length == null">
        <div class="relate mt20 mb20 pointer ban-width" ui-sref="product({'name':subcat.name})">
          <img ng-src="{{subcat.image|serverimage}}" alt="{{subcat.name}}" class="img-responsive">
          <div class="tag-name1" style="">
            <label>{{subcat.name}}</label>
          </div>
        </div>
      </div>

      <div class="row adj-margin" ng-repeat="subc in subcat" ng-if="subcat.length > 0">
        <div class="col-md-6 col-sm-6 col-xs-6 adj-padd" ng-repeat="sub in subc">
          <div class="relate mr10 pointer ban-width" ui-sref="product({'name':sub.name})">
            <!-- <img ng-src="{{sub.image|serverimage}}" alt="" class="img-responsive"> -->
            <img ng-src="{{sub.image|serverimage}}" alt="{{sub.name}}" class="img-responsive">
            <div class="tag-name" style="">
              <label>{{sub.name}}</label>
            </div>
          </div>
        </div>
        <!-- <div class="col-flex">
        <div class="relate ml10 pointer" ui-sref="product">
          <img src="img/mehendi.jpg" alt="" class="img-responsive">
        </div>
      </div> -->
      </div>
    </div>

    <!-- <div class="row-flex">
      <div class="relate mt20 mb20 pointer" ui-sref="product">
        <img src="img/cocktail.jpg" alt="" class="img-responsive">
      </div>
    </div>
    <div class="row-flex">
      <div class="col-flex">
        <div class="relate mr10 pointer" ui-sref="product">
          <img src="img/reception.jpg" alt="" class="img-responsive">
        </div>
      </div>
      <div class="col-flex">
        <div class="relate ml10 pointer" ui-sref="product">
          <img src="img/engagement.jpg" alt="" class="img-responsive">
        </div>
      </div>
    </div>
    <div class="row-flex">
      <div class="relate mt20 mb20 pointer ban-width" ui-sref="celebritychoice">
        <img src="img/celebrity.jpg" alt="" class="img-responsive">
      </div>
    </div>
  </div>-->
</div>
<div class="customerspeak-slider text-center">
  <h1 class="text-center dark-blue inline-block">Customers Speak</h1>
  <div class="container">
    <flex-slider class="carousel" flex-slide="speak in testimonials track by $index" control-nav="false">
      <li>
        <div class="client-speak">
          <h3 class="color-white client-descp text-left">{{speak.testimonial}}</h3>
          <h4 class="pull-right name color-white">- {{speak.user}}</h4>
        </div>
      </li>
    </flex-slider>
  </div>
</div>
