<div class="home-slider relate">
  <flex-slider flex-slide="s in mySlides track by $index" prev-text="" next-text="" direction-nav="false">
    <li>
      <img ng-src="{{s}}" class="img-responsive">
    </li>
  </flex-slider>
  <!-- <div class="talk-us pointer">
    <span class="text-uppercase">talk to us</span>
  </div> -->
</div>
<div class="container-fluid">
  <div class="how-it-works relate">
    <div class="play get-center font-serif">
      <span>HOW IT <img src="img/play-work.png" alt="" class=""> WORKS</span>
    </div>
  </div>
</div>
<div class="occasion-main">
  <div class="container-fluid">
    <div ng-repeat="subcat in subcategory">
      <div class="row-flex" ng-if=" subcat.length == null">
        <div class="relate mt20 mb20 pointer" ui-sref="product({'name':subcat.name})">
          <img ng-src="{{subcat.image|serverimage}}" alt="" class="img-responsive">
        </div>
      </div>

      <div class="row-flex" ng-repeat="subc in subcat" ng-if="subcat.length > 0">
        <div class="col-flex" ng-repeat="sub in subc">
          <div class="relate mr10 pointer" ui-sref="product({'name':sub.name})">
            <img ng-src="{{sub.image|serverimage}}" alt="" class="img-responsive">
          </div>
        </div>
        <!-- <div class="col-flex">
        <div class="relate ml10 pointer" ui-sref="product">
          <img src="img/mehendi.jpg" alt="" class="img-responsive">
        </div>
      </div> -->
      </div>
    </div>

    <!-- <div class="row-flex">
      <div class="relate mt20 mb20 pointer" ui-sref="product">
        <img src="img/cocktail.jpg" alt="" class="img-responsive">
      </div>
    </div>
    <div class="row-flex">
      <div class="col-flex">
        <div class="relate mr10 pointer" ui-sref="product">
          <img src="img/reception.jpg" alt="" class="img-responsive">
        </div>
      </div>
      <div class="col-flex">
        <div class="relate ml10 pointer" ui-sref="product">
          <img src="img/engagement.jpg" alt="" class="img-responsive">
        </div>
      </div>
    </div> -->
    <div class="row-flex">
      <div class="relate mt20 mb20 pointer" ui-sref="celebritychoice">
        <img src="img/celebrity.jpg" alt="" class="img-responsive">
      </div>
    </div>
  </div>
</div>
<div class="customerspeak-slider text-center">
  <h4 class="text-center dark-blue inline-block">Customers Speak</h4>
  <div class="container">
    <flex-slider class="carousel" flex-slide="speak in client track by $index" control-nav="false">
      <li>
        <div class="client-speak">
          <p class="color-white client-descp text-left">{{speak.detail}}</p>
          <h5 class="pull-right name color-white">- {{speak.name}}</h5>
        </div>
      </li>
    </flex-slider>
  </div>
</div>
