<div class="heading-bar text-center">
  <h3 class="heading">My Orders</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="" ng-include="template.account"></div>
    </div>
    <div class="col-md-9">
      <div class="order-heading text-center">
        <div class="row">
          <div class="col-md-2">
            <span>No.</span>
          </div>
          <div class="col-md-4">
            <span>Order number</span>
          </div>
          <div class="col-md-3">
            <span>Date</span>
          </div>
          <div class="col-md-3">
            <span>Amount</span>
          </div>
        </div>
      </div>
      <div class="order-body accordion-custom">
        <uib-accordion>
          <uib-accordion-group>
            <uib-accordion-heading>
              <div class="row">
                <div class="col-md-2">
                  <span>1</span>
                </div>
                <div class="col-md-4">
                  <span>2691433615</span>
                </div>
                <div class="col-md-3">
                  <span>10-02-2016</span>
                </div>
                <div class="col-md-3">
                  <span>Rs.15,684/-</span>
                </div>
              </div>
            </uib-accordion-heading>
            <div class="order-summary">
              <h3>Number of items: <span>01</span></h3>
              <div class="order-address">
                <div class="row">
                  <div class="col-md-6">
                    <div class="delivery">
                      <h4>Delivery Address</h4>
                      <h5 class="name">Riya Shah</h5>
                      <address>
                          B/1202 ,sairam niwas, nr.eastern express highway ,thana east mumbai- 400081 maharashtra
                          <span>Mobile : <a href="tel:9920674907">9920674907</a></span>
                        </address>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="delivery">
                      <h4>Shipping Address</h4>
                      <h5 class="name">Riya Shah</h5>
                      <address>
                          B/1202 ,sairam niwas, nr.eastern express highway ,thana east mumbai- 400081 maharashtra
                          <span>Mobile : <a href="tel:9920674907">9920674907</a></span>
                        </address>
                    </div>
                  </div>
                </div>
              </div>
              <div class="billing-detail">
                <h4>Billing detail</h4>
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Sub Total</td>
                      <td>Rs <span>6,700.00</span></td>
                    </tr>
                    <tr>
                      <td>
                        Service Tax :
                      </td>
                      <td>Rs <span>837.50</span></td>
                    </tr>
                    <tr>
                      <td>
                        Refundable Deposit :
                      </td>
                      <td>Rs <span>4,599.00</span></td>
                    </tr>
                    <tr>
                      <td>Delivery charge :</td>
                      <td>Rs <span>0.00</span></td>
                    </tr>
                    <tr>
                      <td>Total :</td>
                      <td>Rs <span>16,550.00</span></td>
                    </tr>
                  </tbody>
                </table>
                <div class="buttons-orders">
                  <button class="btn btn-outline">Order Details</button>
                  <button class="btn btn-outline">Download Invoice</button>
                </div>
              </div>
            </div>
          </uib-accordion-group>
          <uib-accordion-group>
            <uib-accordion-heading>
              <div class="row">
                <div class="col-md-2">
                  <span>2</span>
                </div>
                <div class="col-md-4">
                  <span>2691433615</span>
                </div>
                <div class="col-md-3">
                  <span>10-02-2016</span>
                </div>
                <div class="col-md-3">
                  <span>Rs.15,684/-</span>
                </div>
              </div>
              <i class="pull-right fa" ng-class="{'fa-chevron-up': status.open, 'fa-chevron-down': !status.open}"></i>
            </uib-accordion-heading>
            <div class="order-summary">
              <h3>Number of items: <span>01</span></h3>
              <div class="order-address">
                <div class="row">
                  <div class="col-md-6">
                    <div class="delivery">
                      <h4>Delivery Address</h4>
                      <h5 class="name">Riya Shah</h5>
                      <address>
                          B/1202 ,sairam niwas, nr.eastern express highway ,thana east mumbai- 400081 maharashtra
                          <span>Mobile : <a href="tel:9920674907">9920674907</a></span>
                        </address>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="delivery">
                      <h4>Shipping Address</h4>
                      <h5 class="name">Riya Shah</h5>
                      <address>
                          B/1202 ,sairam niwas, nr.eastern express highway ,thana east mumbai- 400081 maharashtra
                          <span>Mobile : <a href="tel:9920674907">9920674907</a></span>
                        </address>
                    </div>
                  </div>
                </div>
              </div>
              <div class="billing-detail">
                <h4>Billing detail</h4>
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Sub Total</td>
                      <td>Rs <span>6,700.00</span></td>
                    </tr>
                    <tr>
                      <td>
                        Service Tax :
                      </td>
                      <td>Rs <span>837.50</span></td>
                    </tr>
                    <tr>
                      <td>
                        Refundable Deposit :
                      </td>
                      <td>Rs <span>4,599.00</span></td>
                    </tr>
                    <tr>
                      <td>Delivery charge :</td>
                      <td>Rs <span>0.00</span></td>
                    </tr>
                    <tr>
                      <td>Total :</td>
                      <td>Rs <span>16,550.00</span></td>
                    </tr>
                  </tbody>
                </table>
                <div class="buttons-orders">
                  <button class="btn btn-outline">Order Details</button>
                  <button class="btn btn-outline">Download Invoice</button>
                </div>
              </div>
            </div>
          </uib-accordion-group>
          <uib-accordion-group>
            <uib-accordion-heading>
              <div class="row">
                <div class="col-md-2">
                  <span>3</span>
                </div>
                <div class="col-md-4">
                  <span>2691433615</span>
                </div>
                <div class="col-md-3">
                  <span>10-02-2016</span>
                </div>
                <div class="col-md-3">
                  <span>Rs.15,684/-</span>
                </div>
              </div>
              <i class="pull-right fa" ng-class="{'fa-chevron-up': status.open, 'fa-chevron-down': !status.open}"></i>
            </uib-accordion-heading>
            <div class="order-summary">
              <h3>Number of items: <span>01</span></h3>
              <div class="order-address">
                <div class="row">
                  <div class="col-md-6">
                    <div class="delivery">
                      <h4>Delivery Address</h4>
                      <h5 class="name">Riya Shah</h5>
                      <address>
                          B/1202 ,sairam niwas, nr.eastern express highway ,thana east mumbai- 400081 maharashtra
                          <span>Mobile : <a href="tel:9920674907">9920674907</a></span>
                        </address>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="delivery">
                      <h4>Shipping Address</h4>
                      <h5 class="name">Riya Shah</h5>
                      <address>
                          B/1202 ,sairam niwas, nr.eastern express highway ,thana east mumbai- 400081 maharashtra
                          <span>Mobile : <a href="tel:9920674907">9920674907</a></span>
                        </address>
                    </div>
                  </div>
                </div>
              </div>
              <div class="billing-detail">
                <h4>Billing detail</h4>
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Sub Total</td>
                      <td>Rs <span>6,700.00</span></td>
                    </tr>
                    <tr>
                      <td>
                        Service Tax :
                      </td>
                      <td>Rs <span>837.50</span></td>
                    </tr>
                    <tr>
                      <td>
                        Refundable Deposit :
                      </td>
                      <td>Rs <span>4,599.00</span></td>
                    </tr>
                    <tr>
                      <td>Delivery charge :</td>
                      <td>Rs <span>0.00</span></td>
                    </tr>
                    <tr>
                      <td>Total :</td>
                      <td>Rs <span>16,550.00</span></td>
                    </tr>
                  </tbody>
                </table>
                <div class="buttons-orders">
                  <button class="btn btn-outline">Order Details</button>
                  <button class="btn btn-outline">Download Invoice</button>
                </div>
              </div>
            </div>
          </uib-accordion-group>
          <uib-accordion-group>
            <uib-accordion-heading>
              <div class="row">
                <div class="col-md-2">
                  <span>4</span>
                </div>
                <div class="col-md-4">
                  <span>2691433615</span>
                </div>
                <div class="col-md-3">
                  <span>10-02-2016</span>
                </div>
                <div class="col-md-3">
                  <span>Rs.15,684/-</span>
                </div>
              </div>
              <i class="pull-right fa" ng-class="{'fa-chevron-up': status.open, 'fa-chevron-down': !status.open}"></i>
            </uib-accordion-heading>
            <div class="order-summary">
              <h3>Number of items: <span>01</span></h3>
              <div class="order-address">
                <div class="row">
                  <div class="col-md-6">
                    <div class="delivery">
                      <h4>Delivery Address</h4>
                      <h5 class="name">Riya Shah</h5>
                      <address>
                          B/1202 ,sairam niwas, nr.eastern express highway ,thana east mumbai- 400081 maharashtra
                          <span>Mobile : <a href="tel:9920674907">9920674907</a></span>
                        </address>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="delivery">
                      <h4>Shipping Address</h4>
                      <h5 class="name">Riya Shah</h5>
                      <address>
                          B/1202 ,sairam niwas, nr.eastern express highway ,thana east mumbai- 400081 maharashtra
                          <span>Mobile : <a href="tel:9920674907">9920674907</a></span>
                        </address>
                    </div>
                  </div>
                </div>
              </div>
              <div class="billing-detail">
                <h4>Billing detail</h4>
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Sub Total</td>
                      <td>Rs <span>6,700.00</span></td>
                    </tr>
                    <tr>
                      <td>
                        Service Tax :
                      </td>
                      <td>Rs <span>837.50</span></td>
                    </tr>
                    <tr>
                      <td>
                        Refundable Deposit :
                      </td>
                      <td>Rs <span>4,599.00</span></td>
                    </tr>
                    <tr>
                      <td>Delivery charge :</td>
                      <td>Rs <span>0.00</span></td>
                    </tr>
                    <tr>
                      <td>Total :</td>
                      <td>Rs <span>16,550.00</span></td>
                    </tr>
                  </tbody>
                </table>
                <div class="buttons-orders">
                  <button class="btn btn-outline">Order Details</button>
                  <button class="btn btn-outline">Download Invoice</button>
                </div>
              </div>
            </div>
          </uib-accordion-group>
        </uib-accordion>
      </div>
    </div>
  </div>
</div>
