<div class="heading-bar text-center">
    <h3 class="heading">My Orders</h3>
</div>
<div class="container">
    <h3 class="dark-blue text-uppercase">my account</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="order-tab" ng-include="template.account"></div>
        </div>
        <div class="col-md-9 fixed-height">
            <div class="order-heading text-center">
                <div class="row">
                    <div class="col-md-2 col-xs-1">
                        <span>No.</span>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <span>Order number</span>
                    </div>
                    <div class="col-md-3 col-xs-4">
                        <span>Date</span>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <span>Amount</span>
                    </div>
                </div>
            </div>
            <div infinite-scroll='loadMore()' infinite-scroll-disabled="shouldscroll">
            <div class="order-body accordion-custom">
                <uib-accordion close-others="oneAtATime" >
                    <uib-accordion-group is-open="status.open" ng-repeat="order in orders">
                        <uib-accordion-heading>
                            <i class="orders-dropdown fa" ng-class="{'fa-chevron-up': status.open, 'fa-chevron-down': !status.open}"></i>
                            <div class="row">
                                <div class="col-md-2 col-xs-1">
                                    <span>{{order.orderid}}</span>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <span>{{order.orderid}}</span>
                                </div>
                                <div class="col-md-3 col-xs-4">
                                    <span>{{order.date |date:"mediumDate"}}</span>
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <span>{{order.total | currency}}/-</span>
                                </div>
                            </div>
                        </uib-accordion-heading>
                        <div class="order-summary">
                            <h3 class="item-num dark-blue">Number of items:
                                <span>{{order.cartproduct.length}}</span>
                            </h3>
                            <div class="order-address">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="delivery">
                                            <h4>Delivery Address</h4>
                                            <h5 class="name">{{order.firstname}} {{order.lastname}}</h5>
                                            <address>
                                              {{order.billingAddressFlat}}, {{order.billingAddressStreet}},<br> {{order.billingAddressLandmark}}, <br> {{order.billingAddressCity}} - {{order.billingAddressPin}}. <br> {{order.billingAddressState}},  {{order.billingAddressCountry}}
                                                <span class="block mt10">Mobile :
                                                    <a href="tel:9920674907" class="dark-blue">{{order.mobile}}</a>
                                                </span>
                                            </address>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="delivery no-border">
                                            <h4>Shipping Address</h4>
                                            <h5 class="name">{{order.firstname}} {{order.lastname}}</h5>
                                            <address>
                                                {{order.shippingAddressFlat}}, {{order.shippingAddressStreet}},<br> {{order.shippingAddressLandmark}}, <br> {{order.shippingAddressCity}} - {{order.shippingAddressPin}}. <br> {{order.shippingAddressState}},  {{order.shippingAddressCountry}}
                                                <span class="block mt10">Mobile :
                                                    <a href="tel:9920674907" class="dark-blue">{{order.mobile}}</a>
                                                </span>
                                            </address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="billing-detail">
                                <h4>Billing detail</h4>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Sub Total</td>
                                            <td>Rs
                                                <span>{{order.subtotal | currency}}/-</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Service Tax :
                                            </td>
                                            <td>Rs
                                                <span>{{order.servicetax | currency}}/-</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Refundable Deposit :
                                            </td>
                                            <td>Rs
                                                <span>{{order.refundabledeposit | currency}}/-</span>
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                            <td>Delivery charge :</td>
                                            <td>R
                                        <tr> -->
                                            <td>Total :</td>
                                            <td>Rs
                                                <span>{{order.total | currency}}/-</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="buttons-orders text-center on-edit">
                                <button class="btn btn-outline btn-full text-medium" ui-sref="orderdetail({id:order._id})">Order Details</button>
                                <button class="btn btn-outline btn-full text-medium">Download Invoice</button>
                                <button class="btn btn-outline btn-full text-medium">Cancel Order</button>
                            </div>
                        </div>
                    </uib-accordion-group>



                </uib-accordion>
            </div>
          </div>
        </div>
    </div>
</div>
