<div class="heading-bar">
    <div class="container text-center">
        <h3 class="heading">Privacy Policy</h3>

    </div>
</div>
<div class="container mt50">
    <div class="row">
<div class="col-md-12">
  <div class="data-all">
    <p>
      This privacy policy is for this website <a href=""> www.thestylease.com </a>and served by [●] and governs the privacy of its users who choose to use it. The policy sets out the different areas where user privacy is concerned and outlines the obligations & requirements of the users, the website and website owners. Furthermore the way this website processes, stores and protects user data and information will also be detailed within this policy.
    </p>
    <p>
      Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically.
    </p>
    <p>
      By visiting this Website you agree to be bound by the terms and conditions of this privacy policy. If you do not agree please do not use or access our Website.
    </p>
    <p>
      By mere use of the Website, you expressly consent to our use and disclose of your personal information in accordance with this Privacy Policy. This Privacy Policy is incorporated into and subjected to the Terms and Conditions of use.
    </p>
    <p>
      The terms We/ Us / Our/ Website individually and collectively refer to each entity being part of the definition of thestylease.com and the terms "You" / "Your" / "Yourself" refer to the users.
    </p>

<div class="head-text">
  <h1>1. The Website</h1>
  <p>This website and its owners take a proactive approach to user privacy and ensure the necessary steps are taken to protect the privacy of its users throughout their visiting experience. This website complies with all Indian national laws and requirements for user privacy.</p>
  <h1>2.  Information collected and storage of such information:</h1>

  <p>This website and its owners take a proactive approach to user privacy and ensure the necessary steps are taken to protect the privacy of its users throughout their visiting experience. This website complies with all Indian national laws and requirements for user privacy.</p>
  <h1>2.1 Personal Information</h1>
  <p>Those information which are gathered in order to exclusively identify or contact a particular individual is called personal           Information These includes but are not exhaustive of: </p>
  <ul class="un-list pl25">
    <li>
      <p>
        Name of user
      </p>
    </li>
    <li>
      <p>
        Address of user
      </p>
    </li>
    <li>
      <p>
         Contact details including mobile number and email address
      </p>
    </li>
    <li>
      <p>
        Date of birth of user.
      </p>
    </li>
    <li>
      <p>
         Gender of user
      </p>
    </li>
    <li><p>
      Internet Protocols
    </p></li>
    <li>
      <p>
        Any other items of sensitive personal data or information as such term is defined under the Information Technology         (Reasonable Security Practices and Procedures and Sensitive Personal Data of Information) Rules, 2011 enacted under the       Information Technology Act, 2000;
      </p>
    </li>
    <li>
      <p>
        Additional information we are required or authorized by applicable laws to collect and process in order to authenticate or identify you or to verify the information we have collected
      </p>
    </li>
    <li>
      <p>
        Any other Information that You provide during Your registration process, if any, on the Website.
      </p>
    </li>

  </ul>
  <h1>Ways of collecting Personal Information:</h1>
  <ul class="un-list pl25">
    <li>
      <p>During registration as user on website.</p>
    </li>
    <li>
      <p>During participation in any survey or contest.</p>
    </li>
    <li>
      <p>During any kind of conversation with the website whether oral or written.</p>
    </li>
    <li><p> During posting of any kind of reviews on the website.</p></li>
    <li>
      <p>
        During performance of any kind of transaction, the information so transferred example billing address, delivery address or  details of debit/credit card or cheque.
      </p>
    </li>
    <li>
      <p>
         Via third part while performing any activity related to transaction or goods/services available on website.
      </p>
    </li>
    <li>
      <p>
         Website may collect Personal information about User from third parties, such as social media services, commercially available sources and business partners. If User access Website through a social media service or connect a service on Website to a social media service, the information website collect may include user name associated with that social media service, any  information or content the social media service has the right to share with us, such as your profile picture, email address or friends list, and any information User have made public in connection with that social media service. When User access the Website or otherwise deal with any Company entity through social media services or when User  connect any Website to social media services, User is e authorizing thestylease.com to collect, store, and use and retain such information and content in     accordance with this Privacy Policy.
      </p>
    </li>

  </ul>
  <h1>
    2.	Non-Personal Information
  </h1>
  <ul class="un-list pl25">
    <li>
      <p>
        That information which does not help in recognizing any user individually is called non personal information. These are stored in server logs. They Geographic location if user Your geographic location
      </p>
    </li>
    <li>
      <p>
        The type of browser (Internet Explorer, Firefox, Opera, Google Chrome, Safari etc.),
      </p>
    </li>
    <li>
      <p>
        The duration of Your stay on the Website is also stored in the session along with the date and time of Your access,
      </p>
    </li>
  </ul>
  <h1>
    3.  Cookies:
  </h1>
  <p>
    Website may restore temporary or permanent cookies on User's computer. User can erase or choose to block these cookies from your computer. User can configure Your computer browser to alert You when website attempt to send User a cookie with an option to accept or refuse the cookie. If User has blocked turned cookies off, You may be prevented from using certain services of the website.
  </p>
</div>
  </div>
</div>
    </div>
</div>
