<div class="product-info">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="productdetail-slider">
          <flex-slider class="carousel" flex-slide="slide in product track by $index" direction-nav="false">
            <li>
              <div class="prd-slide-imgholder relate m-center">
                <img ng-src="{{slide}}" alt="" class="get-center">
              </div>
            </li>
          </flex-slider>
        </div>
      </div>
      <div class="col-md-5">
        <div class="product-descp">
          <div class="name-section">
            <h3 class="product-name">The Mashq Suit</h3>
            <p>Retail Price : Rs. <span>3,50,000</span></p>
          </div>
          <div class="product-price">
            <p>Rental amount : Rs. <span>6,700</span>/-</p>
            <p>Refundable Security Deposit: Rs.<span>4,599</span>/- <span class="refund ml5" data-toggle="modal" data-target="#refund"><i class="dark-pink pointer fa fa-question-circle-o"></i></span></p>
          </div>
          <div class="product-size">
            <span class="mr20 text-medium">Size :</span>
            <ul class="list-inline inline-block m-clear"  ng-init="size=''">
              <li><a href="" ng-class="{'select-size' : size=='s'}" ng-click="size='s'">S</a></li>
              <li><a href="" ng-class="{'select-size' : size=='m'}" ng-click="size='m'">M</a></li>
              <li><a href="" ng-class="{'select-size' : size=='l'}" ng-click="size='l'">L</a></li>
              <li><a href="" ng-class="{'select-size' : size=='xl'}" ng-click="size='xl'">XL</a></li>
            </ul>
          </div>
          <div class="delivery-date dates">
            <span class="text-medium">Delivery / Return Dates :</span>
            <form action="">
              <div class="radio-button">
                <input type="radio" name="date" id="four">
                <label for="four" class="text-medium"><span></span> 4 Days</label>
              </div>
              <div class="radio-button">
                <input type="radio" name="date" id="eight">
                <label for="eight" class="text-medium"><span></span> 8 Days</label>
              </div>
              <div class="calendar inline-block">
                <input type="text" class="form-control">
              </div>
            </form>
          </div>
          <div class="buttons">
            <button class="btn btn-outline text-uppercase btn-full m-center block added-cart mb10" ng-click="shop();">add to cart</button>
            <button class="btn btn-outline text-uppercase btn-full m-center block" ng-click="productFull();">add to wishlist</button>
          </div>
          <div class="product-more-detail accordion-custom">
            <uib-accordion close-others="oneAtATime">
              <uib-accordion-group is-open="status.open1">
                <uib-accordion-heading>Details <i class="pull-right fa" ng-class="{'fa-chevron-up': status.open1, 'fa-chevron-down': !status.open1}"></i>
                </uib-accordion-heading>
              </uib-accordion-group>
              <uib-accordion-group is-open="status.open2">
                <uib-accordion-heading>Material &amp; Care <i class="pull-right fa" ng-class="{'fa-chevron-up': status.open2, 'fa-chevron-down': !status.open2}"></i>
                </uib-accordion-heading>
              </uib-accordion-group>
              <uib-accordion-group is-open="status.open3">
                <uib-accordion-heading>Stylist Notes <i class="pull-right fa" ng-class="{'fa-chevron-up': status.open3, 'fa-chevron-down': !status.open3}"></i>
                </uib-accordion-heading>
              </uib-accordion-group>
            </uib-accordion>
          </div>
        </div>
      </div>
    </div>
    <div class="suggested">
      <h3 class="dark-blue text-center">Suggested</h3>
      <div class="suggested-slider">
        <flex-slider class="carousel" flex-slide="products in suggested track by $index" control-nav="false" item-width="380" item-margin="0" animation="slide">
          <li>
            <div class="suggested-product">
              <div class="suggested-imgholder relate">
                <img ng-src="{{products.img}}" alt="" class="get-center img-responsive">
              </div>
              <h4 class="name-suggestprd">{{products.name}}<span class="block"> by {{products.designer}}</span></h4>
              <p class="rent text-medium">Rent : Rs {{products.price}}</p>
              <div class="view-button">
                <button class="btn btn-outline text-medium btn-full">
                  View Details
                </button>
              </div>
            </div>
          </li>
        </flex-slider>
      </div>
    </div>
  </div>
</div>
<div id="refund" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center bg-light-pink">
        <p class="m-clear">Your deposit will be refunded on return of the outfit.</p>
      </div>
    </div>
  </div>
</div>
