<div class="heading-bar text-center">
  <h3 class="heading">Profile</h3>
</div>
<div class="profile">
  <div class="container">
    <h3 class="dark-blue text-uppercase">my account</h3>
    <div class="row">
      <div class="col-md-3">
        <div class="prof-tab" ng-include="template.account"></div>
      </div>
      <div class="col-md-8">
        <div class="profile-main">
          <form action="">
            <div class="row">
              <div class="col-md-6">
                <div class="relate">
                  <input type="text" class="form-control" placeholder="First Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="relate">
                  <input type="text" class="form-control" placeholder="Last Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="relate">
                  <input type="tel" class="form-control" placeholder="Mobile No">
                </div>
              </div>
              <div class="col-md-6">
                <div class="relate">
                  <input type="email" class="form-control" placeholder="Email-id">
                </div>
              </div>
            </div>
            <div class="bank-detail">
              <!-- <h3>Bank Account Details :</h3>
              <div class="row">
                <div class="col-md-6">
                  <div class="relate">
                    <input type="text" class="form-control" placeholder="Bank Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="relate">
                    <input type="text" class="form-control" placeholder="Account Number">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="relate">
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="radio-button profile-radio">
                          <span class="account-type">Account Type - </span>
                          <input type="radio" class="" name="account" id="current">
                          <label for="current"><span></span> Current</label>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="radio-button profile-radio">
                          <input type="radio" class="" name="account" id="saving">
                          <label for="saving"><span></span> Saving</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="relate">
                    <input type="text" class="form-control" placeholder="IFSC Code">
                  </div>
                </div>
              </div> -->
              <div class="text-center">
                <a class="btn btn-outline mt20 mb20 btn-full text-medium" ng-hide="setProfile" ng-click="setProfile=true">Edit</a>
                <div class="on-edit mt20 mb20" ng-show="setProfile">
                  <button type="reset" class="btn btn-outline reset text-medium btn-full" >Reset Details</button>
                  <button class="btn btn-outline save-changes text-medium btn-full">Save Changes</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
