<div class="heading-bar text-center">
  <h3 class="heading">Profile</h3>
</div>
<div class="profile">

  <h3 class="dark-blue text-uppercase text-center hidden-md hidden-sm hidden-lg hidden-xs">my account</h3>

  <div class="mob-slider hidden-md hidden-sm hidden-lg visible-xs">
    <flex-slider slideshow="true" flex-slide="s in download track by $index" class="bg-color" animation="slide" item-width="200" item-margin="10" animationloop="true" move="2">
      <li auto-heightfixed>
        <a ng-if="s.state !== 'log'" ui-sref="{{s.state}}">{{s.name}}</a>
        <a ng-if="s.state === 'log'" ng-click="logout()">{{s.name}}</a>
      </li>
    </flex-slider>
  </div>
  <div class="container">
    <h3 class="dark-blue text-uppercase hidden-xs">my account</h3>
    <div class="row">
      <div class="col-md-3 hidden-xs">
        <div class="prof-tab" ng-include="template.account"></div>
      </div>
      <div class="col-md-8 fixed-height">
        <div class="profile-main">
          <form action="">
            <div class="row">

              <div class="col-md-6">
                <div class="relate">
                  <input type="text" ng-disabled="!set.Profile" class="form-control bckg" ng-model="userdata.firstname" placeholder="First Name" aplha-Only>
                </div>
              </div>
              <div class="col-md-6">
                <div class="relate">
                  <input type="text" ng-disabled="!set.Profile" class="form-control bckg" ng-model="userdata.lastname" placeholder="Last Name" aplha-Only>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="relate">
                  <input type="text"  ng-disabled="!set.Profile" class="form-control bckg" ng-model="userdata.mobile" placeholder="Mobile No" only-Digits minlength="10" maxlength="10">
                </div>
              </div>
              <div class="col-md-6">
                <div class="relate">
                  <input type="email" ng-disabled="!set.Profile" class="form-control bckg" ng-model="userdata.email" placeholder="Email-id" readonly>
                </div>
              </div>
            </div>
            <div class="bank-detail">
              <!-- <h3>Bank Account Details :</h3>
              <div class="row">
                <div class="col-md-6">
                  <div class="relate">
                    <input type="text" class="form-control" placeholder="Bank Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="relate">
                    <input type="text" class="form-control" placeholder="Account Number">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="relate">
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="radio-button profile-radio">
                          <span class="account-type">Account Type - </span>
                          <input type="radio" class="" name="account" id="current">
                          <label for="current"><span></span> Current</label>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="radio-button profile-radio">
                          <input type="radio" class="" name="account" id="saving">
                          <label for="saving"><span></span> Saving</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="relate">
                    <input type="text" class="form-control" placeholder="IFSC Code">
                  </div>
                </div>
              </div> -->
              <div class="text-center">
                <a class="btn btn-outline mt20 mb20 btn-full text-medium" ng-hide="set.Profile" ng-click="set.Profile=true">Edit</a>
                <div class="on-edit mt20 mb20" ng-show="set.Profile">
                  <button type="button" class="btn btn-outline reset text-medium btn-full" ng-click="goToReset()">Reset Details</button>
                  <button class="btn btn-outline save-changes text-medium btn-full" ng-click="saveProfile()">Save Changes</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
