<div class="heading-bar">
    <div class="container text-center">
        <h3 class="heading">Return Policy</h3>

    </div>
</div>
<div class="container mt50">
    <div class="row">
<div class="col-md-12">
  <div class="data-all">
    <ul>
      <li>
        <p>The policy(s) mentioned below governs the return of Order(s) for product(s) ordered by you as the user of the                     'www.thestylease.com' web portal having domain name ("Return Policy") while renting Product(s).  By mere using, accessing, browsing or availing any service or good of the site the user has to abide by the return policy. The return policy(s) is applied post-delivery of the product(s) and 4 days after the return of the product(s).</p>
      </li>
      <li>
        <p>
          The reference of "you" or "User" or "User's" in the policy mentioned below is of you the User of the Site and the reference of "we" "us" "our" or "the Site Owner" is for "thestylease.com".
        </p>
      </li>
      <li>
        <p>
          The site Owner does not accept the return of product(s) which are sold out. It only accepts the return of products which are rented out.
        </p>

      </li>
      <li>
        <p>
          The product(s) shall be returned to the Site Owner within 4 or 8 days as per the option selected by the user from the date of delivery of the product(s).
        </p>

      </li>
      <li>
        <P>
          If the User fails to return on the specified date then late fee will be applicable in addition to rental fee of the product(s).  The rate of late fee will be 5% of the Retail price as mentioned on the website of the product per day and it will be charged up to a maximum of the Security Deposit deposited by the User.
        </P>
      </li>
      <li>
        <p>
          The product(s) shall be returned in the same condition as it was delivered to the User.  If there are any major or substantial defect(s) in the product(s) then the User shall bear the cost of repairing the product(s).
        </p>
      </li>
<li>
  <P>
     The assessment of the cost of repairing of the damage shall be as per the Site Owner upto 100% of outfit retail price as  mentioned on the website (including but not limited to, theft, alteration, non-reversible treatment to the fabric, replacing     original product with fake product, fabric burn, ripping off of the fabric). Such cost shall be final and obligatory on the User. The cost of such repair shall not be disputed by the User.
  </P>
</li>
<li>
  <p>
    The cost of repair of substantial or major damage shall be deducted from the security deposit paid by the User.
  </p>
</li>
<li>
  <p>
    A minor damage may not be charged by the Site Owner.  It is at the discretion of the Site Owner to declare a damage to be minor or major damage. The nature of the damage of the product(s) shall not be disputed by the User.
  </p>
</li>
<li>
  <p>
    The product(s) shall be returned to the owner in the same packaging as it was delivered or in any other manner so prescribed by the Site Owner.
  </p>
</li>
<li>
  <p>
    The User shall return the Garment Bag, Hanger, Jewelry Box (if any) along with any other merchandise which was delivered with the product(s). The cost of INR 300 per packaging item will be charged if above mentioned items are lost. Recovery of amount of such loss will be recovered either in Cash to the delivery person or via the deposit.
  </p>
</li>
<li>
  <p>
    The product(s) shall be handed over only to the person who is authorized by the Site Owner for the purpose of returning the product.
  </p>
</li>
<li>
  <p>
    The product(s) shall be properly packed and sealed. If the product(s) is being returned without the help of person being authorized by the Site Owner then for any damaged happening to product(s) from the time of dispatch by the User till the time it reaches the address specified for returning of product(s), the User shall be considered as the sole responsible person for the damage.
  </p>
</li>
<li>
  <p>
    If the product(s) is lost then the User will be liable to pay 150% of the Retail price as mentioned on the website of the product.
  </p>
</li>
<li>
  <p>
    In case any dispute arises regarding a cancellation request will be by this Return Policy and by the laws of India and courts of Mumbai shall have exclusive jurisdiction.
  </p>
</li>
    </ul>
  </div>
</div>
    </div>
</div>
