<div class="heading-bar text-center">
  <h3 class="heading">Saved address</h3>
</div>
<div class="saved-address">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="" ng-include="template.account"></div>
      </div>
      <div class="col-md-9">
        <div class="billingsave-add">
          <h4 class="text-center dark-blue">Billing Address</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="first-address">
                <div class="add-head bg-pink clearfix">
                  <span class="pointer edit-add pull-right mt10 mr10"><i class="fa fa-pencil"></i></span>
                  <h5 class="text-uppercase dark-blue m-clear pd10 text-center">home</h5>
                </div>
                <div class="add-body">
                  <address>B/1202 ,sairam niwas, nr.eastern express highway ,thana east Mumbai- 400081 Maharashtra, India</address>
                  <div class="custom-checkbox">
                    <input type="checkbox" id="use">
                    <label for="use"><span></span> Use this address</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="add-address relate">
                <div class="new-add get-center dark-pink text-center">
                  <span class="block"><i class="fa fa-plus-circle fa-2x dark-pink"></i></span>
                  <span>Add New Address</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="billingsave-add shippingsave-add">
          <h4 class="text-center dark-blue">Shipping Address</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="first-address">
                <div class="add-head bg-pink clearfix">
                  <span class="pointer pull-right mt10 mr10"><i class="fa fa-pencil"></i></span>
                  <h5 class="text-uppercase dark-blue m-clear pd10 text-center">office</h5>
                </div>
                <div class="add-body">
                  <address>B/1202 ,sairam niwas, nr.eastern express highway ,thana east Mumbai- 400081 Maharashtra, India</address>
                  <div class="custom-checkbox">
                    <input type="checkbox" id="adduse">
                    <label for="adduse">Use this address</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="add-address relate">
                <div class="new-add get-center dark-pink text-center">
                  <span class="block"><i class="fa fa-plus-circle fa-2x dark-pink"></i></span>
                  <span>Add New Address</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mb20">
          <button class="btn btn-outline btn-full text-medium">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
