<div class="heading-bar text-center">
  <h3 class="heading">Saved address</h3>
</div>
<div class="saved-address">
  <div class="container">
    <h3 class="dark-blue text-uppercase">my account</h3>
    <div class="row">
      <div class="col-md-3">
        <div class="save-add-tab" ng-include="template.account"></div>
      </div>
      <div class="col-md-9">
        <div class="billingsave-add">
          <!-- ng-hide="billingAdd" -->
          <div class="row">
            <div class="col-md-6">
              <h4 class="text-center dark-blue">Billing Address</h4>
              <div class="" ng-hide="billingAdd">
                <!-- <div class="first-address"> -->
                <div class="first-address" ng-repeat="data in billingdata">
                  <div class="add-head bg-pink clearfix">
                    <span class="pointer edit-add pull-right mt10 mr10"><i class="fa fa-pencil" ng-click="billingAdd=true"></i></span>
                    <h5 class="text-uppercase dark-blue m-clear pd10 text-center">{{data.billingtitle}}</h5>
                  </div>
                  <div class="add-body">
                    <address>{{data.billingaddressflat}} ,{{data.billingaddressstreet}} , {{data.billingaddresslandmark}} ,{{data.billingaddresscity}} - {{data.billingaddresspin}} {{data.billingaddressstate}}, {{data.billingaddresscountry}}</address>
                    <div class="custom-checkbox inline-block">
                      <input type="checkbox" id="default">
                      <label for="default"><span></span> Use as default address</label>
                    </div>
                    <div class="custom-checkbox inline-block">
                      <input type="checkbox" id="use">
                      <label for="use"><span></span> Use For Shipping address</label>
                    </div>
                  </div>
                  <!-- <div class="add-head bg-pink clearfix">
                    <span class="pointer edit-add pull-right mt10 mr10"><i class="fa fa-pencil"></i></span>
                    <h5 class="text-uppercase dark-blue m-clear pd10 text-center">home</h5>
                  </div>
                  <div class="add-body">
                    <address>B/1202 ,sairam niwas, nr.eastern express highway ,thana east Mumbai- 400081 Maharashtra, India</address>
                    <div class="custom-checkbox inline-block">
                      <input type="checkbox" id="default">
                      <label for="default"><span></span> Use as default address</label>
                    </div>
                    <div class="custom-checkbox inline-block">
                      <input type="checkbox" id="use">
                      <label for="use"><span></span> Use For Shipping address</label>
                    </div>
                  </div> -->
                </div>
                <div class="add-address relate pointer" ng-click="billingAdd=true">
                  <div class="new-add get-center dark-pink text-center">
                    <span class="block"><i class="fa fa-plus-circle fa-2x dark-pink"></i></span>
                    <span>Add New Address</span>
                  </div>
                </div>
              </div>
              <div class="add-billing-add" ng-show="billingAdd">
                <div class="row">
                  <div class="col-md-12">
                    <form action="">
                      <input type="text" class="form-control" placeholder="Title Of Address">
                      <input type="text" class="form-control" placeholder="Flat Number, Building Number">
                      <input type="text" class="form-control" placeholder="Street Address">
                      <input type="text" class="form-control" placeholder="Nearest Landmark">
                      <input type="text" class="form-control" placeholder="Pin Code">
                      <input type="text" class="form-control fixed-add" value="Mumbai">
                      <input type="text" class="form-control fixed-add" value="Maharashtra">
                      <input type="text" class="form-control fixed-add" value="India">
                      <div class="same-billing mg20">
                        <div class="custom-checkbox">
                          <input type="checkbox" id="bill">
                          <label for="bill"> Use the same for shipping address.</label>
                        </div>
                      </div>
                      <div class="text-center mt20 mb20 save ">
                        <button class="btn btn-outline btn-full text-medium" ng-click="billingAdd=false">Save</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <!-- <h4 class="text-center dark-blue">Shipping Address</h4> -->
              <div class="" ng-hide="shippingAdd">
                <div class="first-address office">
                  <div class="add-head bg-pink clearfix">
                    <span class="pointer pull-right mt10 mr10"><i class="fa fa-pencil"></i></span>
                    <h5 class="text-uppercase dark-blue m-clear pd10 text-center">office</h5>
                  </div>
                  <div class="add-body">
                    <address>B/1202 ,sairam niwas, nr.eastern express highway ,thana east Mumbai- 400081 Maharashtra, India</address>
                    <div class="custom-checkbox inline-block">
                      <input type="checkbox" id="default-bill">
                      <label for="default-bill"><span></span> Use as default address</label>
                    </div>
                    <div class="custom-checkbox inline-block">
                      <input type="checkbox" id="ship-bill">
                      <label for="ship-bill"><span></span> Use For Shipping address</label>
                    </div>
                  </div>
                </div>
                <div class="add-address relate pointer" ng-click="shippingAdd=true;">
                  <div class="new-add get-center dark-pink text-center">
                    <span class="block"><i class="fa fa-plus-circle fa-2x dark-pink"></i></span>
                    <span>Add New Address</span>
                  </div>
                </div>
              </div>
              <div class="add-billing-add add-shipping-add" ng-show="shippingAdd">
                <div class="row">
                  <div class="col-md-12">
                    <form action="">
                      <input type="text" class="form-control" placeholder="Title Of Address">
                      <input type="text" class="form-control" placeholder="Flat Number, Building Number">
                      <input type="text" class="form-control" placeholder="Street Address">
                      <input type="text" class="form-control" placeholder="Nearest Landmark">
                      <input type="text" class="form-control" placeholder="Pin Code">
                      <input type="text" class="form-control fixed-add" value="Mumbai">
                      <input type="text" class="form-control fixed-add" value="Maharashtra">
                      <input type="text" class="form-control fixed-add" value="India">
                      <div class="same-billing mg20">
                        <div class="custom-checkbox">
                          <input type="checkbox" id="ship">
                          <label for="ship"> Use the same for billing address.</label>
                        </div>
                      </div>
                      <div class="text-center mt20 mb20 save ">
                        <button class="btn btn-outline btn-full text-medium" ng-click="shippingAdd=false">Save</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="add-billing-add" ng-show="billingAdd">
          <div class="row">
            <div class="col-md-12">
              <form action="">
                <input type="text" class="form-control" placeholder="Title Of Address">
                <input type="text" class="form-control" placeholder="Flat Number, Building Number">
                <input type="text" class="form-control" placeholder="Street Address">
                <input type="text" class="form-control" placeholder="Nearest Landmark">
                <input type="text" class="form-control" placeholder="Pin Code">
                <input type="text" class="form-control fixed-add" value="Mumbai">
                <input type="text" class="form-control fixed-add" value="Maharashtra">
                <input type="text" class="form-control fixed-add" value="India">
                <div class="same-billing mg20">
                  <div class="custom-checkbox">
                    <input type="checkbox" id="bill">
                    <label for="bill"> Use the same for shipping address.</label>
                  </div>
                </div>
                <div class="text-center mt20 mb20 save ">
                  <button class="btn btn-outline btn-full text-medium" ng-click="billingAdd=false">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div> -->
        <!-- <div class="billingsave-add shippingsave-add" ng-hide="shippingAdd">
          <h4 class="text-center dark-blue">Shipping Address</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="first-address">
                <div class="add-head bg-pink clearfix">
                  <span class="pointer pull-right mt10 mr10"><i class="fa fa-pencil"></i></span>
                  <h5 class="text-uppercase dark-blue m-clear pd10 text-center">office</h5>
                </div>
                <div class="add-body">
                  <address>B/1202 ,sairam niwas, nr.eastern express highway ,thana east Mumbai- 400081 Maharashtra, India</address>
                  <div class="custom-checkbox">
                    <input type="checkbox" id="adduse">
                    <label for="adduse">Use this address</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="add-address relate pointer" ng-click="shippingAdd=true;">
                <div class="new-add get-center dark-pink text-center">
                  <span class="block"><i class="fa fa-plus-circle fa-2x dark-pink"></i></span>
                  <span>Add New Address</span>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="add-billing-add add-shipping-add" ng-show="shippingAdd">
          <div class="row">
            <div class="col-md-offset-2 col-md-8">
              <form action="">
                <input type="text" class="form-control" placeholder="Title Of Address">
                <input type="text" class="form-control" placeholder="Flat Number, Building Number">
                <input type="text" class="form-control" placeholder="Street Address">
                <input type="text" class="form-control" placeholder="Nearest Landmark">
                <input type="text" class="form-control" placeholder="Pin Code">
                <input type="text" class="form-control fixed-add" value="Mumbai">
                <input type="text" class="form-control fixed-add" value="Maharashtra">
                <input type="text" class="form-control fixed-add" value="India">
                <div class="same-billing mg20">
                  <div class="custom-checkbox">
                    <input type="checkbox" id="ship">
                    <label for="ship"> Use the same for billing address.</label>
                  </div>
                </div>
                <div class="text-center mt20 mb20 save ">
                  <button class="btn btn-outline btn-full text-medium" ng-click="shippingAdd=false">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div> -->
        <div class="text-center mb20">
          <button class="btn btn-outline btn-full text-medium">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
