<footer class="{{footerColor}}">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-xs-6">
        <div class="links">
          <ul>
            <li><a>Media</a></li>
            <li><a ui-sref="contact">Contact Us</a></li>
            <li><a ui-sref="cancelation-policy">Cancellation Policy</a></li>
            <li><a ui-sref="return-policy">Return Policy</a></li>
            <li><a ui-sref="terms-condition">T&amp;C</a></li>
            <li><a ui-sref="privacy-policy">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="follow">
          <p class="footer-head">Follow Us On</p>
          <div class="social-links">
            <ul class="list-inline">
              <li><a href=""><i class="fa fa-facebook "></i></a></li>
              <li><a href=""><i class="fa fa-twitter "></i></a></li>
              <li><a href=""><i class="fa fa-instagram "></i></a></li>
              <li><a href=""><i class="fa fa-youtube-play "></i></a></li>
            </ul>
          </div>
        </div>
        <div class="payment-method">
          <p class="footer-head">Payment Methods</p>
          <ul class="list-inline">
            <li>
              <a href=""><img src="img/visa.png" alt="" class="img-responsive"></a>
            </li>
            <li>
              <a href=""><img src="img/mastero.png" alt="" class="img-responsive"></a>
            </li>
            <li>
              <a href=""><img src="img/mastercard.png" alt="" class="img-responsive"></a>
            </li>
            <li>
              <a href=""><img src="img/american.png" alt="" class="img-responsive"></a>
            </li>
            <!-- <li>
              <a href=""><img src="img/visa.png" alt="" class="img-responsive"></a>
            </li> -->
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="question">
          <p>You've got some questions, and we've got the answers !</p>
          <span class="block color-white mb10"><a href="mail:info@thestylease.com" class=""><i class="fa fa-envelope mr10 dark-pink"></i>info@thestylease.com</a></span>
          <span class="block color-white"><a href="tel:+919735188624" class=""><i class="fa fa-phone mr10 dark-pink"></i>+91 97351 88624</a></span>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="about">
          <h5 class="footer-head m-clear mb20">About Us</h5>
          <p>The Stylease is exactly what the name suggests - Leasing out high-end fashion with ease. It is an e-commerce portal that empowers the modern woman to save time and still be at the top of her game as far as her ethnic wardrobe is concerned.</p>
          <button class="btn read-more">Read More</button>
        </div>
      </div>
    </div>
    <div class="text-center mt20 right-reserved">
      <p class="text-uppercase inline-block m-clear mr20">&copy; {{template.year}} All Right Resvered.</p>
      <p class="text-uppercase inline-block m-clear ml20">Designed by <a href="http://www.ting.in" target="_blank" class=" ting">TING</a>.</p>
    </div>
  </div>
</footer>
