<header ng-controller="headerctrl">
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-heade r text-center">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-bran d" href="#/home"><img src="img/logo.png" alt="Stylease" class="m-center"> </a>
        </div>
        <!-- just for checking click functn and delete afterwards  -->
        <div class="pull-right">
          <span ng-click="signUp();">Signup</span>
          <span ng-click="logIn();">Login</span>
        </div>
        <!-- end -->
    </div>
</nav>
</header>
