<header ng-controller="headerctrl" class="bg-dark-blue">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <div class="hamburger {{showCross}}" ng-click="showMenu();">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="logo relate">
          <h1>
            <a href="" ui-sref="home"><img src="img/logo.png" alt="Stylease" class="img-responsive"></a>
          </h1>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="pull-right">
          <div class="user-detail">
            <div class="signin inline-block mr20 text-center">
              <img src="img/profile.png" alt="" class="m-center img-responsive">
              <span class="light-pink" ng-click="signUp();">Sign in</span>
            </div>
            <div class="cart inline-block ml20 text-center">
              <img src="img/cart.png" alt="" class="m-center img-responsive">
              <span class="light-pink">Cart</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- just for checking click functn and delete afterwards
    <div class="pull-right">
      <span ng-click="signUp();">Signup</span>
      <span ng-click="logIn();">Login</span>
    </div>
    end -->
  </div>
  <nav class="{{showMe}} bg-pink">
    <div ng-include="template.menu" class="template menu"></div>
  </nav>
</header>
