<div class="change-delivery-date">
  <div class="close-popup close-header">
    <span class="close" ng-click="$close();">
      <img src="img/cross.png" alt="" class="img-responsive">
    </span>
  </div>
  <p class="mb20">Changing the delivery date for this product will result in change in delivery date for <span class="dark-pink">all other products.</span></p>
  <p>To change the delivery date for each garment <span class="dark-pink block">create a new order.</span> </p>
  <div class="on-edit mt20 mb20">
    <button class="btn btn-outline text-medium btn-full">Cancel</button>
    <button class="btn btn-outline text-medium btn-full">Save the date</button>
  </div>
</div>
