<div class="continue-shop bg-light-pink text-center">
  <div class="close-popup">
    <span class="close" ng-click="$close();">
      <img src="img/cross.png" alt="" class="img-responsive" width="20">
    </span>
  </div>
  <h3 class="dark-pink">Invalid Order Date</h3>
  <p class="text-medium">Hi, it seems like you haven't selected a valid date for the order, please select a valid date and try again. <br></p>
  <button ng-click="$close();" class="btn btn-outline btn-full text-medium mt10 mb10">OK</button>
</div>
