<div class="popup">
   <div class="bg pop-heading-bar bg-dark-blue close-popup">
      <span class="close" ng-click="$close();"><img src="img/cross-pink.png" alt="" class="img-responsive"></span>
      <h2 class="text-uppercase text-center m-clear pd10 color-pink font-finestyle">Sign Up</h2>
   </div>
   <div class="pop-body text-center bg-light-pink pd20">
      <div class="row">
         <div class="col-md-offset-1 col-md-10">
            <form name="emailSignupForm" ng-submit="signUpNormal(emailSignupForm,signup);">
               <div class="relate">
                  <input type="text" class="form-control inpu-1" name="name" placeholder="Name" ng-model="signup.name" required>
                  <div class="form-error" ng-show="emailSignupForm.name.$error.required && emailSignupForm.name.$touched">Please enter your name.</div>
               </div>
               <div class="relate">
                  <input type="email" name="email" ng-pattern="emailRegex" class="form-control inpu-1 bckg" placeholder="Email Id" ng-model="signup.email" required>
                  <!-- <div class="form-error" ng-show="emailSignupForm.email.$dirty && (emailSignupForm.email.$error.pattern === true)">
                     Please enter a valid email id.
                  </div> -->
                  <div class="form-error" ng-show="emailSignupForm.email.$dirty.pattern && emailSignupForm.email.$error.pattern === true">Please enter valid Email</div>
                  <div class="form-error" ng-if="">Please enter valid Email</div>
                  <div ng-if="invalid">Please enter valid Email.</div>
                  <!-- <div class="form-error" ng-show="emailSignupForm.email.$error.required && emailSignupForm.email.$touched">Please enter a valid email id.</div> -->
                  <div class="form-error" ng-if="validEmail">Please enter a valid email id.</div>
                  
               </div>
               <div class="relate">
                  <input type="password" name="password" class="form-control inpu-1 bckg" placeholder="Password" ng-model="signup.password" required>
                  <div class="form-error" ng-show="emailSignupForm.password.$error.required && emailSignupForm.password.$touched">
                     Please enter your password.
                  </div>
               </div>
               <div class="relate">
                  <input type="password" name="confirmpswd" class="form-control inpu-1 bckg" placeholder="Confirm Password" ng-model="signup.confirmpswd" required>
                  <div class="form-error" ng-show="emailSignupForm.confirmpswd.$error.required && emailSignupForm.confirmpswd.$touched">
                     Passwords do not match.
                  </div>
               </div>
               <div class="relate">
                  <div class="custom-checkbox text-left mt10 mb10">
                     <input type="checkbox" id="accept" name="accept" ng-model="accept" required>
                     <label for="accept" class="dark-blue"><span></span>I Accept the <a href="" class="font-bold dark-blue text-underline" target="_blank">TERMS &amp; CONDITIONS</a> And Privacy Policy</label>
                  </div>
                  <div class="form-error tnc-error" ng-show="emailSignupForm.accept.$error.required && emailSignupForm.accept.$touched">Please accept Terms and Conditions to get started.</div>
               </div>
               <div class="relate">
                  <div class="custom-checkbox text-left mt10 mb10">
                     <label ng-if="loginmsg.msg !=='User already Exists'" for="accept" class="{{loginmsg.class}}"><span></span>{{loginmsg.msg}}</label>
                     <label ng-if="loginmsg.msg==='User already Exists'" for="accept" class="{{loginmsg.class}}"><span></span>{{loginmsg.msg}} Do you want to <a ng-click="logIn();">Login?</a></label>
                  </div>
               </div>
               <p ng-if="notFound">Incorrect Email or Password</p>
               <div class="submit mb10-1">
                  <button class="btn btn-outline" type="submit">Get Started!</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
