<div class="popup forgotpswd-pop" ng-hide="setPswd">
  <div class="bg pop-heading-bar bg-dark-blue close-popup">
    <span class="close" ng-click="$close();"><img src="img/cross-pink.png" alt="" class="img-responsive"></span>
    <h5 class="text-uppercase text-center color-pink m-clear font-finestyle pd10 fnt-30">forgot password ?</h5>
  </div>
  <div class="pop-body text-center bg-light-pink pd20">
    <div class="link">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <p class="msg">"It Happens To The Best Of Us, Get Back To Styling Soon!"</p>
          <form name="formForgot">
            <div class="relate">
              <input type="email" placeholder="Your Email Address" class="form-control" ng-model="mail" name="mail" required>
              <div class="form-error" ng-show="formForgot.mail.$error.required && formForgot.mail.$touched">
                Please enter your Email Id.
              </div>
            </div>
            <div class="relate">
              <div class="custom-checkbox text-left mt10 mb10">
                <label for="accept" class="{{err.class}}"><span></span>{{ err.msg }}</label>
              </div>
            </div>
            <button class="btn btn-outline mt20 text-medium" ng-click="forgotPassword(mail)">Send Reset Link</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-light-pink text-center pd20"  ng-show="setPswd">
  <div class="close-header">
    <div class="relate close-popup">
      <span class="close" ng-click="$close();"><img src="img/cross.png" alt="" class="img-responsive"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="linksent">
        <p class="msg">We've sent a password reset link to your registered email address.</p>
        <button class="btn btn-outline text-medium" ng-click="setPswd=false">Resend Link</button>
      </div>
    </div>
  </div>
</div>
