<div class="popup">
  <div class="bg pop-heading-bar">
    <span class="close" ng-click="$close();"><i class="fa fa-close"></i></span>
    <h2 class="text-uppercase text-center">forgot password ?</h2>
  </div>
  <div class="pop-body text-center">
    <div class="link">
      <p>"It Happens To The Best Of Us, Get Back To Styling Soon!"</p>
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <form action="">
            <input type="email" placeholder="Your Email Address" class="form-control">
            <button class="btn btn-outline">Send Reset Link</button>
          </form>
        </div>
      </div>
    </div>
    <div class="linksent">
      <p>We've sent a password reset link to your registered email address.</p>
      <button class="btn btn-outline">Resend Link</button>
    </div>
  </div>
</div>
