<div class="bg-light-pink pd20 hello">
  <div class="text-center">
    <h3 class="dark-pink text-uppercase">hello there !</h3>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="message">
          <p>We currently deliver only in <span class="dark-pink">Mumbai</span>. Leave us your email id for updates on when we’re coming to your city!</p>
        </div>
        <form action="" class="mt20">
          <input type="email" class="form-control" placeholder="Enter your email-id">
          <input type="text" class="form-control" placeholder="Please enter your city">
          <button class="btn btn-outline text-medium btn-full mt10">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
