<div class="popup hiw ">
    <div class="bg pop-heading-bar  close-popup">
        <span class="close" ng-click="$close();"><img src="img/cross-pink.png" alt="" class="img-responsive"></span>
        <h5 class="text-uppercase text-center m-clear pd10  font-finestyle fnt-30">HOW IT WORKS</h5>
    </div>
    <div class="pop-body text-center bg-light-pink pd20">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 colh">
                <div class="minsize">
                    <img class="imgsize" src="img/noun_223183_cc.png">
                    <p class="text">1. LOG IN </p>
                    <p class="text-left ptext">Log into <a class="dark-pink">www.thestylease.com</a> and browse through our collection to find your dream outfit.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 colh">
                <div class="minsize">
                    <img class="imgsize" src="img/noun_130272_cc.png">
                    <p class="text">2. YOUR CHOICE </p>
                    <p class="text-left ptext">Once you've made your choice, amp up your look with accessories from our specially curated inventory. Most of our outfits can be custom fit to the required size.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="minsize2">
                    <img class="imgsize" src="img/noun_318256_cc.png">
                    <p class="text2">3. DELIVER TO <br> DOORSTEP </p>
                    <p class="text-left ptext">Pick your rental duration and a delivery date to confirm your order. Now sit back and relax as we deliver right to your doorstep.
                    </p>
                </div>
            </div>
<div class="clearfix"> </div>
            <div class="col-md-2 col-sm-2 col-xs-2"> </div>

            <div class="col-md-4 col-sm-4 col-xs-12 colh2">
                <div class="minsize">
                    <img class="imgsize" src="img/noun_414676_cc.png">
                    <p class="text">4. ROCK THE LOOK </p>
                    <p class="text-left ptext">Rock that look and make some heads turn while you have a splendid time creating amazing memories!
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="minsize">
                    <img class="imgsize" src="img/noun_148595_cc.png">
                    <p class="text">5. RETURN </p>
                    <p class="text-left ptext">Kick off your shoes and let us take care of the rest
                    </p>
                </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-2"> </div>

        </div>
    </div>
</div>
