<div class="popup">
  <div class="bg pop-heading-bar">
  <span class="close" ng-click="$close();"><i class="fa fa-close"></i></span>
    <h2 class="text-uppercase text-center">Login</h2>
  </div>
  <div class="pop-body text-center">
    <div class="block text-center">
      <button class="btn btn-google"><i class="fa fa-google-plus"></i>Sign in with Google+</button>
    </div>
    <div class="block text-center">
      <button class="btn btn-facebook"><i class="fa fa-google-plus"></i>Login with Facebook</button>
    </div>
    <div class="or relate">
      <span>OR</span>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <form action="">
          <input type="email" class="form-control" placeholder="Email Id">
          <input type="password" class="form-control" placeholder="Password">
          <span class="pull-right pointer" ng-click="forgot();">Forgot Password ?</span>
          <div class="login">
            <button class="btn btn-outline">Log In</button>
          </div>
          <div class="">
            <span>New User ?</span>
            <span class="text-underline">Create Account !</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
