<div class="continue-shop text-center bg-light-pink">
  <div class="close-popup">
    <span class="close" ng-click="$close();">
      <img src="img/cross.png" alt="" class="img-responsive" width="20">
    </span>
  </div>
  <h4 class="text-medium dark-blue outfit mt20">We're glad you found the perfect outfit. Would you like to-</h4>
  <div class="on-edit mt20 mb10">
    <button class="btn btn-outline text-medium btn-full mob" ui-sref="product">Continue Shopping</button>
    <button class="btn btn-outline text-medium btn-full" ui-sref="cart">Proceed to Checkout</button>
  </div>
  <p class="dark-pink margp">*We currently deliver only in Mumbai.</p>
</div>
