<div class="popup">
  <div class="bg pop-heading-bar">
  <span class="close" ng-click="$close();"><i class="fa fa-close"></i></span>
    <h2 class="text-uppercase text-center">Sign Up</h2>
  </div>
  <div class="pop-body text-center">
    <p class="text-center"><span class="block">Once You've Log In,</span>Your Wardrobe Will Never Be The Same Again.</p>
    <div class="block text-center">
      <button class="btn btn-google"><i class="fa fa-google-plus"></i>Signup with Google+</button>
    </div>
    <div class="block text-center">
      <button class="btn btn-facebook"><i class="fa fa-google-plus"></i>Signup with Facebook</button>
    </div>
    <div class="or relate">
      <span>OR</span>
    </div>
    <button class="btn btn-outline" ng-click="emailSignup();">Signup with email</button>
    <p>Already Have An Account ? <a href="">Log-in</a></p>
  </div>
</div>
